# 라이브러리 및 데이터프레임 세팅

In [21]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')

In [22]:
paths = glob.glob('*.csv')
paths[6]

'master.csv'

In [23]:
df = pd.read_csv(paths[6])
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동

In [24]:
df.shape

(407613, 10)

# Cleansing
## cartype 처리
- master_cleansing_space.csv

In [25]:
df = df.drop('Unnamed: 0', axis = 1)

In [26]:
df.head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동

In [27]:
df['cartype'][1].replace(" ","")

'중형승합'

In [28]:
len(df)

407613

In [29]:
df['cartype'].unique()

array(['중형승합', '중형 승합', '중형승용', '승합', '중형 승용', '대형승용', '대형 승용', nan,
       '증형승용'], dtype=object)

In [30]:
for i in range(len(df)):
    df['cartype'][i] = str(df['cartype'][i]).replace(' ', '').replace('증형승용', '중형승용')

In [31]:
df['cartype'].unique()

array(['중형승합', '중형승용', '승합', '대형승용', 'nan'], dtype=object)

In [32]:
df_nan = df[df['cartype'] == 'nan']
df_nan.to_csv('master_nan.csv', index = False, encoding = 'utf-8')

In [33]:
df.isnull().sum()

no              0
cartype         0
receipttime     0
settime        30
ridetime       10
startpos1       0
startpos2       0
endpos1         0
endpos2         0
dtype: int64

In [34]:
len(df[df['cartype'] == 'nan'])

10

In [35]:
idx = df[df['cartype'] == 'nan'].index
df = df.drop(idx)

In [36]:
df

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동
...,...,...,...,...,...,...,...,...,...
407608,8579,대형승용,2022-06-24 오전 7:00:00,2022-06-24 오전 6:54:20,2022-06-24 오전 7:17:08,성북구,돈암제2동,강남구,대치4동
407609,8006,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:07:58,2022-06-24 오전 7:42:04,은평구,구산동,은평구,구산동
407610,8261,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:04:58,2022-06-24 오전 7:16:19,노원구,상계8동,영등포구,영등포동
407611,1558,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:03:25,2022-06-24 오전 7:27:10,성북구,길음제1동,강북구,번제1동
407612,5725,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:10:22,2022-06-24 오전 7:20:46,강동구,천호제2동,강동구,명일제1동

In [264]:
df.to_csv('master_cleansing_space.csv', index = False, encoding = 'utf-8')

## 시간처리 (datetime으로 변경)
- 오후는 12시간 덧셈
- master_cleansing_space_time.csv

In [37]:
import datetime
import numpy as np

In [38]:
df[df['ridetime'].str.contains('오전')].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동

In [39]:
df[df['ridetime'].str.contains('오전')].shape

(406366, 9)

In [40]:
df[df['ridetime'].str.contains('오후')].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
64242,1567,중형승합,2018-09-12 오전 12:10:00,2018-09-11 오후 11:58:30,2018-09-11 오후 11:59:32,강동구,천호제3동,강북구,수유제3동
66484,1194,중형승합,2018-09-19 오전 12:25:00,2018-09-18 오후 11:56:12,2018-09-18 오후 11:58:00,하남시,신장2동,강동구,천호제3동

In [41]:
df[df['ridetime'].str.contains('오후')].shape

(1237, 9)

In [42]:
df['오전'] = pd.to_datetime(df[df['ridetime'].str.contains('오전')]['ridetime'].str.replace('오전', ''))

In [43]:
df['오후'] = pd.to_datetime(df[df['ridetime'].str.contains('오후')]['ridetime'].str.replace('오후', '')) + datetime.timedelta(hours = 12)

In [44]:
df[df['오후'].notna()]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,오전,오후
64242,1567,중형승합,2018-09-12 오전 12:10:00,2018-09-11 오후 11:58:30,2018-09-11 오후 11:59:32,강동구,천호제3동,강북구,수유제3동,NaT,2018-09-11 23:59:32
66484,1194,중형승합,2018-09-19 오전 12:25:00,2018-09-18 오후 11:56:12,2018-09-18 오후 11:58:00,하남시,신장2동,강동구,천호제3동,NaT,2018-09-18 23:58:00
68475,7582,중형승합,2018-10-02 오전 12:30:00,2018-10-01 오후 11:57:28,2018-10-01 오후 11:57:42,하남시,풍산동,강동구,천호제3동,NaT,2018-10-01 23:57:42
70716,7633,중형승합,2018-10-10 오전 12:15:00,2018-10-09 오후 11:44:13,2018-10-09 오후 11:44:49,하남시,풍산동,강동구,천호제3동,NaT,2018-10-09 23:44:49
75449,9543,중형승합,2018-10-26 오전 12:30:00,2018-10-25 오후 10:52:59,2018-10-25 오후 11:49:00,강서구,가양제3동,마포구,합정동,NaT,2018-10-25 23:49:00
...,...,...,...,...,...,...,...,...,...,...,...
353829,8085,중형승합,2021-11-28 오전 12:03:00,2021-11-27 오후 11:41:27,2021-11-27 오후 11:41:51,남양주시,호평동,노원구,중계4동,NaT,2021-11-27 23:41:51
374247,7906,중형승합,2022-02-01 오전 12:05:00,2022-01-31 오후 11:44:29,2022-01-31 오후 11:46:41,성남시수정구,신흥3동,영등포구,대림제1동,NaT,2022-01-31 23:46:41
383709,8094,중형승합,2022-03-25 오전 12:08:00,2022-03-24 오후 11:39:42,2022-03-24 오후 11:39:51,고양시덕양구,대덕동,은평구,구산동,NaT,2022-03-24 23:39:51
402135,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06
402136,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06

In [45]:
df[df['오전'].notna()]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,오전,오후
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,NaT
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,NaT
2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,NaT
3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,NaT
4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,NaT
...,...,...,...,...,...,...,...,...,...,...,...
407608,8579,대형승용,2022-06-24 오전 7:00:00,2022-06-24 오전 6:54:20,2022-06-24 오전 7:17:08,성북구,돈암제2동,강남구,대치4동,2022-06-24 07:17:08,NaT
407609,8006,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:07:58,2022-06-24 오전 7:42:04,은평구,구산동,은평구,구산동,2022-06-24 07:42:04,NaT
407610,8261,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:04:58,2022-06-24 오전 7:16:19,노원구,상계8동,영등포구,영등포동,2022-06-24 07:16:19,NaT
407611,1558,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:03:25,2022-06-24 오전 7:27:10,성북구,길음제1동,강북구,번제1동,2022-06-24 07:27:10,NaT
407612,5725,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:10:22,2022-06-24 오전 7:20:46,강동구,천호제2동,강동구,명일제1동,2022-06-24 07:20:46,NaT

이제 df['오후']와 df['오전']을 합쳐보자

In [46]:
df['오후'][0] + df['오전'][0]
#누락값(NaT)와 값이 있는걸 더하면 NaT가 된다

NaT

In [47]:
datetime.timedelta(hours=0)

datetime.timedelta(0)

In [48]:
#df['오후']의 누락된 값에 0시간을 채워준다.
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))

In [49]:
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [50]:
df['오후'][0] + df['오전'][0]

Timestamp('2018-01-23 12:34:08')

In [51]:
승차_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        승차_val.append(val)
    except:
        승차_val.append(datetime.timedelta(hours=0))

In [52]:
df['승차시간'] = 승차_val

In [53]:
con = df['승차시간'] == datetime.timedelta(hours=0)
df[con]['승차시간'] = pd.to_datetime(df[con]['오전'])

In [54]:
sindx = df[con]['승차시간'].index

In [55]:
df.loc[sindx, '승차시간'] = pd.to_datetime(df[con]['오전'])

In [56]:
df[df['승차시간'] == datetime.timedelta(hours=0)]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 오전, 오후, 승차시간]
Index: []

In [57]:
df['승차시간'] = pd.to_datetime(df['승차시간'])

In [58]:
df = df.drop(['오전','오후'], axis = 1)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407603 entries, 0 to 407612
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   no           407603 non-null  int64
 1   cartype      407603 non-null  object
 2   receipttime  407603 non-null  object
 3   settime      407573 non-null  object
 4   ridetime     407603 non-null  object
 5   startpos1    407603 non-null  object
 6   startpos2    407603 non-null  object
 7   endpos1      407603 non-null  object
 8   endpos2      407603 non-null  object
 9   승차시간         407603 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 50.3+ MB

In [60]:
df[~df['ridetime'].str.contains('오전') & ~df['ridetime'].str.contains('오후')]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 승차시간]
Index: []

In [61]:
df['settime'].str.contains('오후')

0         False
1         False
2         False
3         False
4         False
          ...
407608    False
407609    False
407610    False
407611    False
407612    False
Name: settime, Length: 407603, dtype: object

In [62]:
df[df['settime'].isna()].head()
#왜 부르자마자 탄 차들이 있지..
#일단 따로 csv에 저장하고 dropna하도록 한다

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간
32664,1123,중형승합,2018-05-08 오전 5:30:00,NaN,2018-05-08 오전 5:30:00,도봉구,창제3동,성북구,안암동,2018-05-08 05:30:00
32671,1123,중형승합,2018-05-08 오전 5:31:00,NaN,2018-05-08 오전 5:31:00,중랑구,망우본동,중랑구,신내1동,2018-05-08 05:31:00
33560,7630,중형승합,2018-05-06 오전 8:10:00,NaN,2018-05-06 오전 8:10:00,강남구,수서동,강남구,일원1동,2018-05-06 08:10:00
44798,7606,중형승합,2018-06-03 오전 8:03:00,NaN,2018-06-03 오전 8:03:00,강서구,가양제2동,강서구,가양제1동,2018-06-03 08:03:00
51607,7908,중형승합,2018-07-29 오전 7:00:00,NaN,2018-07-29 오전 7:00:00,강서구,가양제2동,양천구,목2동,2018-07-29 07:00:00

In [460]:
df_set_na = df[df['settime'].isna()]
df_set_na.to_csv('df_set_na.csv', index = False, encoding = 'utf-8')

In [63]:
snax = df[df['settime'].isna()].index

In [64]:
df = df.drop(snax)

In [65]:
df['오전'] = pd.to_datetime(df[df['settime'].str.contains('오전')]['settime'].str.replace('오전', ''))
df['오후'] = pd.to_datetime(df[df['settime'].str.contains('오후')]['settime'].str.replace('오후', '')) + datetime.timedelta(hours = 12)

In [66]:
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [67]:
승차_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        승차_val.append(val)
    except:
        승차_val.append(datetime.timedelta(hours=0))

In [68]:
df['배차시간'] = 승차_val

In [69]:
df[df['배차시간'] == datetime.timedelta(hours=0)].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간,오전,오후,배차시간
32665,4347,중형승용,2018-05-08 오전 5:30:00,2018-05-08 오전 6:48:10,2018-05-08 오전 6:56:55,강서구,화곡제3동,고양시일산서구,탄현동,2018-05-08 06:56:55,2018-05-08 06:48:10,0:00:00,0:00:00
32673,6194,중형승합,2018-05-08 오전 5:33:00,2018-05-08 오전 7:04:45,2018-05-08 오전 7:24:58,강서구,가양제3동,동작구,흑석동,2018-05-08 07:24:58,2018-05-08 07:04:45,0:00:00,0:00:00

In [70]:
con = df['배차시간'] == datetime.timedelta(hours=0)

In [71]:
binx = df[con]['배차시간'].index

In [72]:
df.loc[binx, '배차시간'] = pd.to_datetime(df[con]['오전'])

In [73]:
df['배차시간'] =pd.to_datetime(df['배차시간'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407573 entries, 0 to 407612
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   no           407573 non-null  int64
 1   cartype      407573 non-null  object
 2   receipttime  407573 non-null  object
 3   settime      407573 non-null  object
 4   ridetime     407573 non-null  object
 5   startpos1    407573 non-null  object
 6   startpos2    407573 non-null  object
 7   endpos1      407573 non-null  object
 8   endpos2      407573 non-null  object
 9   승차시간         407573 non-null  datetime64[ns]
 10  오전           407573 non-null  object
 11  오후           407573 non-null  object
 12  배차시간         407573 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(10)
memory usage: 59.7+ MB

In [75]:
df = df.drop(['오전', '오후'], axis=1)

In [76]:
df[df['receipttime'].isna()]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 승차시간, 배차시간]
Index: []

In [77]:
df['오전'] = pd.to_datetime(df[df['receipttime'].str.contains('오전')]['receipttime'].str.replace('오전', ''))

In [78]:
df['오후'] = pd.to_datetime(df[df['receipttime'].str.contains('오후')]['receipttime'].str.replace('오후', ''))

In [79]:
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [80]:
요청_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        요청_val.append(val)
    except:
        요청_val.append(datetime.timedelta(hours=0))

In [81]:
df['예정시간'] = 요청_val

In [82]:
df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime']

3486                 2018-01-16
3487                 2018-01-16
8466                 2018-02-09
8467                 2018-02-09
8468                 2018-02-09
                  ...
400563    2022-05-31 오전 7:00:00
402173    2022-06-03 오전 5:50:00
402174    2022-06-03 오전 5:50:00
404970    2022-06-06 오전 7:10:00
406703    2022-06-25 오전 7:00:00
Name: receipttime, Length: 199, dtype: object

In [83]:
con = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오전')

In [84]:
con1 = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오후')

In [85]:
con1[con1 == True]

Series([], Name: receipttime, dtype: bool)

In [86]:
einx = con[con == True].index

In [87]:
df.loc[einx, '예정시간'] = df.loc[einx, '오전']

In [88]:
df.loc[einx, '예정시간']

32665     2018-05-08 05:30:00
32673     2018-05-08 05:33:00
33563     2018-05-06 08:11:00
37104     2018-05-16 12:20:00
42582     2018-06-05 12:25:00
                 ...
400563    2022-05-31 07:00:00
402173    2022-06-03 05:50:00
402174    2022-06-03 05:50:00
404970    2022-06-06 07:10:00
406703    2022-06-25 07:00:00
Name: 예정시간, Length: 179, dtype: object

In [89]:
df_re_date = df[df['예정시간'] == datetime.timedelta(hours=0)]

In [90]:
df_re_date.to_csv('df_re_date.csv', index = False, encoding = 'utf-8')

In [91]:
dinx = df[df['예정시간'] == datetime.timedelta(hours=0)].index

In [92]:
df = df.drop(dinx)

In [93]:
df = df.drop(['오전', '오후'], axis=1)

In [94]:
df_cleansing2 = df[['no', 'cartype', '예정시간', '배차시간', '승차시간', 'startpos1', 'startpos2', 'endpos1', 'endpos2']]

In [95]:
df_cleansing2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407553 entries, 0 to 407612
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   no         407553 non-null  int64
 1   cartype    407553 non-null  object
 2   예정시간       407553 non-null  object
 3   배차시간       407553 non-null  datetime64[ns]
 4   승차시간       407553 non-null  datetime64[ns]
 5   startpos1  407553 non-null  object
 6   startpos2  407553 non-null  object
 7   endpos1    407553 non-null  object
 8   endpos2    407553 non-null  object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 31.1+ MB

In [96]:
df_cleansing2['예정시간'] = pd.to_datetime(df_cleansing2['예정시간'])

In [97]:
df_cleansing2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407553 entries, 0 to 407612
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   no         407553 non-null  int64
 1   cartype    407553 non-null  object
 2   예정시간       407553 non-null  datetime64[ns]
 3   배차시간       407553 non-null  datetime64[ns]
 4   승차시간       407553 non-null  datetime64[ns]
 5   startpos1  407553 non-null  object
 6   startpos2  407553 non-null  object
 7   endpos1    407553 non-null  object
 8   endpos2    407553 non-null  object
dtypes: datetime64[ns](3), int64(1), object(5)
memory usage: 31.1+ MB

## 인덱스 재정렬

In [150]:
df_cleansing2 = df_cleansing2.sort_index(ascending= True)

In [152]:
df_cleansing2 = df_cleansing2.reset_index(drop=True)

In [153]:
df_cleansing2.to_csv('master_cleansing_space_time.csv', index = False, encoding = 'utf-8')

# 동별로 위도,경도 추가하기
- master_cleansing_space_time_map.csv

In [154]:
df_cleansing2.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동

In [155]:
#위도경도 추가해주는 라이브러리 추가
! pip install geopy

Requirement already satisfied: geopy in /Users/jeon-eunji/opt/anaconda3/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/jeon-eunji/opt/anaconda3/lib/python3.9/site-packages (from geopy) (1.52)

In [156]:
import geopy

In [157]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

In [158]:
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

In [118]:
geo_startpos1 = []
geo_endpos1  = []
for i in range(6):
    s_val = geocoding(df_cleansing2['startpos1'][i].strip())
    e_val = geocoding(df_cleansing2['endpos1'][i].strip())
    geo_startpos1.append(s_val)
    geo_endpos1.append(e_val)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [124]:
df_cleansing2['startpos1'][5]

'마포구'

In [123]:
df_cleansing2['endpos1'][5]

'부천시소사구'

In [128]:
df_cleansing2['endpos2'][5]

'심곡본1동'

In [139]:
len(df_cleansing2['endpos1'][5])

6

In [159]:
lengths = []
lengthe = []
for i in range(len(df_cleansing2)):
    vals= len(df_cleansing2['startpos1'][i])
    vale= len(df_cleansing2['endpos1'][i])
    lengths.append(vals)
    lengthe.append(vale)

In [162]:
df_cleansing2['startpos1_length'] = lengths
df_cleansing2['endpos1_length'] = lengthe

In [164]:
df_cleansing2.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,startpos1_length,endpos1_length
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,3,4
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,3,3
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,3,3
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,3,3
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,4,3

In [171]:
df_cleansing2['startpos1_length'].value_counts().sort_index()

2      6661
3    357229
4     43470
6       168
7        25
Name: startpos1_length, dtype: int64

In [173]:
df_cleansing2[df_cleansing2['startpos1_length'] == 2]['startpos1'].value_counts()

중구    6661
Name: startpos1, dtype: int64

In [174]:
df_cleansing2[df_cleansing2['startpos1_length'] == 4]['startpos1'].value_counts()

서대문구    18467
동대문구    12578
영등포구    12344
남양주시       47
의정부시       34
Name: startpos1, dtype: int64

In [178]:
df_cleansing2[df_cleansing2['startpos1_length'] == 6]['startpos1'].value_counts()

성남시수정구    36
부천시소사구    35
고양시덕양구    23
부천시원미구    18
성남시분당구    15
성남시중원구    13
안양시만안구    13
부천시오정구     8
안양시동안구     6
용인시수지구     1
Name: startpos1, dtype: int64

In [179]:
df_cleansing2[df_cleansing2['startpos1_length'] == 7]['startpos1'].value_counts()

고양시일산동구    17
고양시일산서구     8
Name: startpos1, dtype: int64

In [182]:
geocoding('성남시수정구')

AttributeError: 'NoneType' object has no attribute 'latitude'

In [184]:
geocoding('수정구')

[37.4503386, 127.1462933]

In [186]:
t = '고양시일산동구'
t[3:]

'일산동구'

In [216]:
for i in range(len(df_cleansing2)):
    if df_cleansing2['startpos1_length'][i] == 6 :
        df_cleansing2['startpos1'][i] = df_cleansing2['startpos1'][i][3:]
    elif df_cleansing2['startpos1_length'][i] == 7 :
        df_cleansing2['startpos1'][i] = df_cleansing2['startpos1'][i][3:]
    else:
        pass

In [218]:
df_cleansing2[df_cleansing2['startpos1_length'] == 6].head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,startpos1_length,endpos1_length
6926,9537,중형승합,2018-01-13 08:22:00,2018-01-13 08:44:48,2018-01-13 09:06:20,수정구,복정동,송파구,마천2동,6,3
8224,1123,중형승합,2018-02-21 12:32:00,2018-02-21 12:32:49,2018-02-21 12:57:07,분당구,금곡동,강남구,일원2동,6,3
12755,9562,중형승합,2018-02-11 07:04:00,2018-02-11 07:05:34,2018-02-11 07:48:15,수정구,복정동,구리시,수택3동,6,3
13634,7801,중형승합,2018-02-10 08:18:00,2018-02-10 08:19:29,2018-02-10 08:39:17,수정구,복정동,송파구,마천2동,6,3
19412,5830,중형승합,2018-03-03 12:32:00,2018-03-03 12:34:19,2018-03-03 12:42:37,분당구,야탑3동,강남구,삼성2동,6,3

In [220]:
df_cleansing2 = df_cleansing2.drop('startpos1_length', axis=1)

In [226]:
df_cleansing2['endpos1_length'].value_counts().sort_index()

2     12180
3    314008
4     68048
6     11631
7      1686
Name: endpos1_length, dtype: int64

In [234]:
df_cleansing2[df_cleansing2['endpos1_length'] == 7]['endpos1'].value_counts()

고양시일산동구    973
고양시일산서구    713
Name: endpos1, dtype: int64

In [235]:
for i in range(len(df_cleansing2)):
    if df_cleansing2['endpos1_length'][i] == 6 :
        df_cleansing2['endpos1'][i] = df_cleansing2['endpos1'][i][3:]
    elif df_cleansing2['endpos1_length'][i] == 7 :
        df_cleansing2['endpos1'][i] = df_cleansing2['endpos1'][i][3:]
    else:
        pass

In [241]:
df_cleansing2 = df_cleansing2.drop('endpos1_length', axis = 1)

In [242]:
df_cleansing2.to_csv('master1_cleansing_map_before.csv', index = False, encoding = 'utf-8')

## 실패의 흔적

In [223]:
start1_geo = []

for i in range(len(df_cleansing2)):
    vals = geocoding(df_cleansing2['startpos1'][i])
    start1_geo.append(vals)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=%EC%84%B1%EB%8F%99%EA%B5%AC&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [ ]:
너무느려서...심지어 다 가져오지 못해서 구글 스프레드시트로 열어서 써보겠다..

In [225]:
len(start1_geo)

8655

In [ ]:
df_cleansing2['위도경도'] = start1_geo
df_cleansing2.head

In [221]:
start2_latitude = []
start2_longitude =[]

for i in address:
    start2_latitude.append(geocoding(i)[0])
    start2_longitude.append(geocoding(i)[1])

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,endpos1_length
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,4
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,3
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,3
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,3
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,3
...,...,...,...,...,...,...,...,...,...,...
407548,8579,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동,3
407549,8006,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동,3
407550,8261,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동,4
407551,1558,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동,3
407552,5725,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동,3

In [125]:
geocoding(df_cleansing2['startpos1'][5].strip())

[37.566571, 126.9015317]

In [127]:
geocoding(df_cleansing2['endpos1'][5].strip())
#부천시소사구는 뭘까?
#내가 geopy라도 에러를 뱉었겠구나 싶다...ㅠ

AttributeError: 'NoneType' object has no attribute 'latitude'

In [602]:
df_cleansing2['startpos2'][1]

'면목제7동'

In [598]:
geocoding(df_cleansing2['startpos2'][1])

AttributeError: 'NoneType' object has no attribute 'latitude'

In [601]:
geocoding(df_cleansing2['startpos2'][1])

AttributeError: 'NoneType' object has no attribute 'latitude'

In [592]:
df_cleansing2['startpos2']

0         장위제1동
1         면목제7동
2         정릉제3동
3         고척제2동
4           회기동
          ...
407608    돈암제2동
407609      구산동
407610     상계8동
407611    길음제1동
407612    천호제2동
Name: startpos2, Length: 407553, dtype: object

In [595]:
df_cleansing2

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동
...,...,...,...,...,...,...,...,...,...
407608,8579,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동
407609,8006,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동
407610,8261,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동
407611,1558,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동
407612,5725,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동

In [597]:
geocoding(df_cleansing2['startpos1'][1])

[37.6063, 127.093]

In [ ]:
start2_latitude = []
start2_longitude =[]

for i in address:
    start2_latitude.append(geocoding(i)[0])
    start2_longitude.append(geocoding(i)[1])

참고: https://wonhwa.tistory.com/29

# EDA

In [70]:
df['no'].value_counts()

6278    1531
1559    1502
3265    1414
7582    1382
7658    1327
        ...
5942       1
4985       1
8218       1
6063       1
6784       1
Name: no, Length: 1086, dtype: int64

In [83]:
df[df['no'] == 8218]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
275886,8218,중형승합,2021-01-03 오후 1:16:17,2021-01-03 오후 1:25:42,2021-01-03 오후 1:31:27,양천구,목5동,강서구,화곡제8동

In [96]:
df['startend'] = df['startpos1'] + df['endpos1']

In [106]:
df['startend_detail'] = df['startpos2'] + '-' + df['endpos2']

In [98]:
df[df['no'] == 6278]['startend'].value_counts()

양천구양천구     157
구로구영등포구    128
구로구관악구     119
양천구강동구     104
동작구광진구      57
          ...
용산구서대문구      1
관악구중구        1
관악구은평구       1
양천구중랑구       1
은평구강동구       1
Name: startend, Length: 203, dtype: int64

In [107]:
df[df['no'] == 6278]['startend_detail'].value_counts()

오류제2동-청룡동       119
개봉제1동-영등포동      112
신정4동-목1동         73
신대방제2동-구의제1동     55
신정4동-둔촌제2동       50
               ...
난향동-신촌동           1
화곡제1동-이화동         1
수궁동-양촌면           1
화곡제1동-방화제3동       1
가양제2동-목3동         1
Name: startend_detail, Length: 441, dtype: int64

In [99]:
df[df['no'] == 1559]['startend'].value_counts()

관악구관악구        150
강서구강서구        115
서초구서초구         65
강서구서대문구        42
서대문구서대문구       35
             ...
종로구고양시일산동구      1
은평구중랑구          1
강남구부천시소사구       1
강북구서대문구         1
동대문구중랑구         1
Name: startend, Length: 299, dtype: int64

In [108]:
df[df['no'] == 1559]['startend_detail'].value_counts()

방화제2동-발산제1동     24
은천동-중앙동         21
방배2동-방배4동       20
낙성대동-문정2동       20
서초4동-반포3동       19
                ..
상도제2동-가양제3동      1
시흥제3동-대림제3동      1
사당제3동-반포4동       1
사당제2동-이화동        1
답십리제2동-상봉제1동     1
Name: startend_detail, Length: 693, dtype: int64

In [100]:
df[df['no'] == 7658]['startend'].value_counts()

관악구관악구       267
동작구동작구        42
관악구은평구        39
금천구관악구        39
구로구구로구        33
            ...
용산구안양시동안구      1
강서구강남구         1
송파구강서구         1
관악구성남시수정구      1
금천구부천시원미구      1
Name: startend, Length: 237, dtype: int64

In [109]:
df[df['no'] == 7658]['startend_detail'].value_counts()

삼성동-서원동        53
독산제3동-청룡동      36
청룡동-구산동        35
성현동-중앙동        26
대림제3동-철산3동     25
               ..
신림동-신당제3동       1
불광제1동-성산제2동     1
신림동-사직동         1
신정3동-신정3동       1
난향동-방화제1동       1
Name: startend_detail, Length: 554, dtype: int64

In [101]:
df[df['no'] == 5942]['startend'].value_counts()

종로구종로구    1
Name: startend, dtype: int64