# 라이브러리 및 데이터프레임 세팅

In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')

In [39]:
paths = glob.glob('master1_cleansing_map_before.csv')
paths[0]

'master1_cleansing_map_before.csv'

In [40]:
df = pd.read_csv(paths[0])
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동

# 동별로 위도,경도 추가하기
- master_cleansing_space_time_map.csv

In [11]:
import geopy

In [12]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

In [13]:
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

In [33]:
geo_startpos1 = []
geo_endpos1  = []
for i in range(5):
    try:
        s_val = geocoding(df['startpos1'][i].strip())
        e_val = geocoding(df['endpos1'][i].strip())
        geo_startpos1.append(s_val)
        geo_endpos1.append(e_val)
    except:
        geo_startpos1.append('error')
        geo_endpos1.append('error')

In [37]:
geo_startpos1[1]

[37.6063, 127.093]

In [29]:
len(geo_startpos1)[]

5

In [30]:
for i in range(5,10):
    try:
        s_val = geocoding(df['startpos1'][i].strip())
        e_val = geocoding(df['endpos1'][i].strip())
        geo_startpos1.append(s_val)
        geo_endpos1.append(e_val)
    except:
        geo_startpos1.append('error')
        geo_endpos1.append('error')

In [31]:
geo_startpos1

[[37.59, 127.0165],
 [37.6063, 127.093],
 [37.59, 127.0165],
 [37.4951999, 126.8877],
 [37.5741982, 127.0395092],
 [37.566571, 126.9015317],
 [37.6063, 127.093],
 [37.5262, 126.8959],
 [37.5384, 127.0828],
 [37.5806949, 126.9827989]]

In [32]:
len(geo_startpos1)

10

In [23]:
df['startpos1'][5]

'마포구'

In [243]:
df_cleansing2['endpos1'][5]

'소사구'

In [128]:
df_cleansing2['endpos2'][5]

'심곡본1동'

In [139]:
len(df_cleansing2['endpos1'][5])

6

In [159]:
lengths = []
lengthe = []
for i in range(len(df_cleansing2)):
    vals= len(df_cleansing2['startpos1'][i])
    vale= len(df_cleansing2['endpos1'][i])
    lengths.append(vals)
    lengthe.append(vale)

In [162]:
df_cleansing2['startpos1_length'] = lengths
df_cleansing2['endpos1_length'] = lengthe

In [164]:
df_cleansing2.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,startpos1_length,endpos1_length
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,3,4
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,3,3
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,3,3
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,3,3
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,4,3

In [171]:
df_cleansing2['startpos1_length'].value_counts().sort_index()

2      6661
3    357229
4     43470
6       168
7        25
Name: startpos1_length, dtype: int64

In [173]:
df_cleansing2[df_cleansing2['startpos1_length'] == 2]['startpos1'].value_counts()

중구    6661
Name: startpos1, dtype: int64

In [174]:
df_cleansing2[df_cleansing2['startpos1_length'] == 4]['startpos1'].value_counts()

서대문구    18467
동대문구    12578
영등포구    12344
남양주시       47
의정부시       34
Name: startpos1, dtype: int64

In [178]:
df_cleansing2[df_cleansing2['startpos1_length'] == 6]['startpos1'].value_counts()

성남시수정구    36
부천시소사구    35
고양시덕양구    23
부천시원미구    18
성남시분당구    15
성남시중원구    13
안양시만안구    13
부천시오정구     8
안양시동안구     6
용인시수지구     1
Name: startpos1, dtype: int64

In [179]:
df_cleansing2[df_cleansing2['startpos1_length'] == 7]['startpos1'].value_counts()

고양시일산동구    17
고양시일산서구     8
Name: startpos1, dtype: int64

In [182]:
geocoding('성남시수정구')

AttributeError: 'NoneType' object has no attribute 'latitude'

In [184]:
geocoding('수정구')

[37.4503386, 127.1462933]

In [186]:
t = '고양시일산동구'
t[3:]

'일산동구'

In [216]:
for i in range(len(df_cleansing2)):
    if df_cleansing2['startpos1_length'][i] == 6 :
        df_cleansing2['startpos1'][i] = df_cleansing2['startpos1'][i][3:]
    elif df_cleansing2['startpos1_length'][i] == 7 :
        df_cleansing2['startpos1'][i] = df_cleansing2['startpos1'][i][3:]
    else:
        pass

In [218]:
df_cleansing2[df_cleansing2['startpos1_length'] == 6].head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,startpos1_length,endpos1_length
6926,9537,중형승합,2018-01-13 08:22:00,2018-01-13 08:44:48,2018-01-13 09:06:20,수정구,복정동,송파구,마천2동,6,3
8224,1123,중형승합,2018-02-21 12:32:00,2018-02-21 12:32:49,2018-02-21 12:57:07,분당구,금곡동,강남구,일원2동,6,3
12755,9562,중형승합,2018-02-11 07:04:00,2018-02-11 07:05:34,2018-02-11 07:48:15,수정구,복정동,구리시,수택3동,6,3
13634,7801,중형승합,2018-02-10 08:18:00,2018-02-10 08:19:29,2018-02-10 08:39:17,수정구,복정동,송파구,마천2동,6,3
19412,5830,중형승합,2018-03-03 12:32:00,2018-03-03 12:34:19,2018-03-03 12:42:37,분당구,야탑3동,강남구,삼성2동,6,3

In [220]:
df_cleansing2 = df_cleansing2.drop('startpos1_length', axis=1)

In [226]:
df_cleansing2['endpos1_length'].value_counts().sort_index()

2     12180
3    314008
4     68048
6     11631
7      1686
Name: endpos1_length, dtype: int64

In [234]:
df_cleansing2[df_cleansing2['endpos1_length'] == 7]['endpos1'].value_counts()

고양시일산동구    973
고양시일산서구    713
Name: endpos1, dtype: int64

In [235]:
for i in range(len(df_cleansing2)):
    if df_cleansing2['endpos1_length'][i] == 6 :
        df_cleansing2['endpos1'][i] = df_cleansing2['endpos1'][i][3:]
    elif df_cleansing2['endpos1_length'][i] == 7 :
        df_cleansing2['endpos1'][i] = df_cleansing2['endpos1'][i][3:]
    else:
        pass

In [241]:
df_cleansing2 = df_cleansing2.drop('endpos1_length', axis = 1)

In [242]:
df_cleansing2.to_csv('master1_cleansing_map_before.csv', index = False, encoding = 'utf-8')

## 실패의 흔적

In [223]:
start1_geo = []

for i in range(len(df_cleansing2)):
    vals = geocoding(df_cleansing2['startpos1'][i])
    start1_geo.append(vals)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=%EC%84%B1%EB%8F%99%EA%B5%AC&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [ ]:
너무느려서...심지어 다 가져오지 못해서 구글 스프레드시트로 열어서 써보겠다..

In [225]:
len(start1_geo)

8655

In [ ]:
df_cleansing2['위도경도'] = start1_geo
df_cleansing2.head

In [221]:
start2_latitude = []
start2_longitude =[]

for i in address:
    start2_latitude.append(geocoding(i)[0])
    start2_longitude.append(geocoding(i)[1])

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,endpos1_length
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,4
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,3
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,3
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,3
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,3
...,...,...,...,...,...,...,...,...,...,...
407548,8579,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동,3
407549,8006,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동,3
407550,8261,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동,4
407551,1558,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동,3
407552,5725,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동,3

In [125]:
geocoding(df_cleansing2['startpos1'][5].strip())

[37.566571, 126.9015317]

In [127]:
geocoding(df_cleansing2['endpos1'][5].strip())
#부천시소사구는 뭘까?
#내가 geopy라도 에러를 뱉었겠구나 싶다...ㅠ

AttributeError: 'NoneType' object has no attribute 'latitude'

In [602]:
df_cleansing2['startpos2'][1]

'면목제7동'

In [598]:
geocoding(df_cleansing2['startpos2'][1])

AttributeError: 'NoneType' object has no attribute 'latitude'

In [601]:
geocoding(df_cleansing2['startpos2'][1])

AttributeError: 'NoneType' object has no attribute 'latitude'

In [592]:
df_cleansing2['startpos2']

0         장위제1동
1         면목제7동
2         정릉제3동
3         고척제2동
4           회기동
          ...
407608    돈암제2동
407609      구산동
407610     상계8동
407611    길음제1동
407612    천호제2동
Name: startpos2, Length: 407553, dtype: object

In [595]:
df_cleansing2

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동
...,...,...,...,...,...,...,...,...,...
407608,8579,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동
407609,8006,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동
407610,8261,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동
407611,1558,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동
407612,5725,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동

In [597]:
geocoding(df_cleansing2['startpos1'][1])

[37.6063, 127.093]

In [ ]:
start2_latitude = []
start2_longitude =[]

for i in address:
    start2_latitude.append(geocoding(i)[0])
    start2_longitude.append(geocoding(i)[1])

참고: https://wonhwa.tistory.com/29

# EDA

In [70]:
df['no'].value_counts()

6278    1531
1559    1502
3265    1414
7582    1382
7658    1327
        ...
5942       1
4985       1
8218       1
6063       1
6784       1
Name: no, Length: 1086, dtype: int64

In [83]:
df[df['no'] == 8218]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
275886,8218,중형승합,2021-01-03 오후 1:16:17,2021-01-03 오후 1:25:42,2021-01-03 오후 1:31:27,양천구,목5동,강서구,화곡제8동

In [96]:
df['startend'] = df['startpos1'] + df['endpos1']

In [106]:
df['startend_detail'] = df['startpos2'] + '-' + df['endpos2']

In [98]:
df[df['no'] == 6278]['startend'].value_counts()

양천구양천구     157
구로구영등포구    128
구로구관악구     119
양천구강동구     104
동작구광진구      57
          ...
용산구서대문구      1
관악구중구        1
관악구은평구       1
양천구중랑구       1
은평구강동구       1
Name: startend, Length: 203, dtype: int64

In [107]:
df[df['no'] == 6278]['startend_detail'].value_counts()

오류제2동-청룡동       119
개봉제1동-영등포동      112
신정4동-목1동         73
신대방제2동-구의제1동     55
신정4동-둔촌제2동       50
               ...
난향동-신촌동           1
화곡제1동-이화동         1
수궁동-양촌면           1
화곡제1동-방화제3동       1
가양제2동-목3동         1
Name: startend_detail, Length: 441, dtype: int64

In [99]:
df[df['no'] == 1559]['startend'].value_counts()

관악구관악구        150
강서구강서구        115
서초구서초구         65
강서구서대문구        42
서대문구서대문구       35
             ...
종로구고양시일산동구      1
은평구중랑구          1
강남구부천시소사구       1
강북구서대문구         1
동대문구중랑구         1
Name: startend, Length: 299, dtype: int64

In [108]:
df[df['no'] == 1559]['startend_detail'].value_counts()

방화제2동-발산제1동     24
은천동-중앙동         21
방배2동-방배4동       20
낙성대동-문정2동       20
서초4동-반포3동       19
                ..
상도제2동-가양제3동      1
시흥제3동-대림제3동      1
사당제3동-반포4동       1
사당제2동-이화동        1
답십리제2동-상봉제1동     1
Name: startend_detail, Length: 693, dtype: int64

In [100]:
df[df['no'] == 7658]['startend'].value_counts()

관악구관악구       267
동작구동작구        42
관악구은평구        39
금천구관악구        39
구로구구로구        33
            ...
용산구안양시동안구      1
강서구강남구         1
송파구강서구         1
관악구성남시수정구      1
금천구부천시원미구      1
Name: startend, Length: 237, dtype: int64

In [109]:
df[df['no'] == 7658]['startend_detail'].value_counts()

삼성동-서원동        53
독산제3동-청룡동      36
청룡동-구산동        35
성현동-중앙동        26
대림제3동-철산3동     25
               ..
신림동-신당제3동       1
불광제1동-성산제2동     1
신림동-사직동         1
신정3동-신정3동       1
난향동-방화제1동       1
Name: startend_detail, Length: 554, dtype: int64

In [101]:
df[df['no'] == 5942]['startend'].value_counts()

종로구종로구    1
Name: startend, dtype: int64