# 라이브러리 및 데이터프레임 세팅

In [103]:
import pandas as pd
import glob
import json
import requests

import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm

In [220]:
paths = glob.glob('master_cleansing.csv')
paths[0]

'master_cleansing.csv'

In [264]:
df = pd.read_csv(paths[0])

In [4]:
len(df['startpos2'].unique())

557

In [5]:
len(df['endpos2'].unique())

691

In [6]:
출발지상세 = []
for i in range(len(df['startpos2'].unique())):
    val = df['startpos2'].unique()[i]
    출발지상세.append(val)

In [7]:
목적지상세 = []
for i in range(len(df['endpos2'].unique())):
    val = df['endpos2'].unique()[i]
    목적지상세.append(val)

# api 불러오기 및 실행

## 출발지

In [105]:
ID = "enatk2ysy6"
Key = "IWWIOhvr04NKyh7pvBGJXNXmyI8JKvrA1on2Lb1N"

In [106]:
query = 출발지상세
len(query)

557

In [107]:
url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode"

In [108]:
# 헤더 설정 (수정 X)
headers = {'X-NCP-APIGW-API-KEY-ID' : ID, 'X-NCP-APIGW-API-KEY' : Key}

# 기타 설정 (수정 X)
lat = []
lng = []
pbar = tqdm(total=len(query))

  0%|                                                   | 0/557 [00:00<?, ?it/s]

In [109]:
for i in range(len(query)):
    params = {'query' : query[i]}
    json_data = requests.get(url, headers=headers, params=params).json()
    try:
        lat.append(json_data['addresses'][0]['x'])
        lng.append(json_data['addresses'][0]['y'])
    except:
        lat.append(0)
        lng.append(0)
    pbar.update(1)
pbar.close()

100%|█████████████████████████████████████████| 557/557 [02:47<00:00,  3.33it/s]

In [113]:
startpos = pd.DataFrame(columns = ['출발지상세','출발지상세_변경', 'lat','lng'])
startpos['출발지상세'] = query
startpos['출발지상세_변경'] = query
startpos['lat'] = lat
startpos['lng'] = lng
startpos

     출발지상세 출발지상세_변경          lat         lng
0    장위제1동    장위제1동  127.0437129  37.6141245
1    면목제7동    면목제7동  127.0869854  37.5789945
2    정릉제3동    정릉제3동   127.004186  37.6089578
3    고척제2동    고척제2동  126.8587122  37.5067055
4      회기동      회기동  127.0553132  37.5908083
..     ...      ...          ...         ...
552   호계2동     호계2동  126.9453031   37.386456
553  심곡본1동    심곡본1동  126.7789446  37.4824389
554   신흥3동     신흥3동  127.1489458   37.443555
555    대덕동      대덕동  126.8751675  37.5855421
556   석수2동     석수2동  126.9093548  37.4139694

[557 rows x 4 columns]

## 목적지

In [14]:
query1 = 목적지상세
len(query1)

691

In [16]:
lat1 = []
lng1 = []
pbar = tqdm(total=len(query1))

  0%|                                                   | 0/691 [00:00<?, ?it/s]

In [17]:
for i in range(len(query1)):
    params = {'query' : query1[i]}
    json_data = requests.get(url, headers=headers, params=params).json()
    try:
        lat1.append(json_data['addresses'][0]['x'])
        lng1.append(json_data['addresses'][0]['y'])
    except:
        lat1.append(0)
        lng1.append(0)
    pbar.update(1)
pbar.close()

100%|█████████████████████████████████████████| 691/691 [03:55<00:00,  2.93it/s]

In [114]:
endpos = pd.DataFrame(columns = ['목적지상세','목적지상세_변경','lat','lng'])
endpos['목적지상세'] = query1
endpos['목적지상세_변경'] = query1
endpos['lat'] = lat1
endpos['lng'] = lng1
endpos

     목적지상세 목적지상세_변경          lat         lng
0      회기동      회기동  127.0553132  37.5908083
1     상계1동     상계1동  127.0549781  37.6799006
2    수유제3동    수유제3동   127.023125   37.638715
3      은천동      은천동  126.9424278  37.4853086
4    장위제2동    장위제2동  127.0545206  37.6123899
..     ...      ...          ...         ...
686   태평3동     태평3동  127.1330711  37.4453511
687   박달2동     박달2동  126.9047083  37.4019599
688   동탄1동     동탄1동  127.0719767  37.2064558
689   태평2동     태평2동  127.1386297  37.4471301
690  상대원3동    상대원3동  127.1655568  37.4397392

[691 rows x 4 columns]

# 출발지, 목적지에서 에러가 뜬 부분을 찾아내서 값 변환해주기

## 출발지

In [115]:
startpos[startpos['lat'] == 0]

       출발지상세 출발지상세_변경 lat lng
44     이문제3동    이문제3동   0   0
129    상도제1동    상도제1동   0   0
175   답십리제4동   답십리제4동   0   0
178    신당제3동    신당제3동   0   0
201    장안제3동    장안제3동   0   0
221    장안제4동    장안제4동   0   0
248    신당제4동    신당제4동   0   0
254    전농제3동    전농제3동   0   0
350   답십리제3동   답십리제3동   0   0
351    명륜3가동    명륜3가동   0   0
363    제기제2동    제기제2동   0   0
375  면목제3.8동  면목제3.8동   0   0
396    신당제1동    신당제1동   0   0
412    제기제1동    제기제1동   0   0
418    신당제2동    신당제2동   0   0
420    신당제6동    신당제6동   0   0
454     김포2동     김포2동   0   0
486     김포1동     김포1동   0   0
501     가능1동     가능1동   0   0

In [116]:
jaeinx = startpos[startpos['lat'] == 0].index

In [117]:
startpos.loc[jaeinx, '출발지상세_변경'] =['이문2동', 
                                  '상도1동', 
                                  '답십리2동',
                                  '약수동',
                                  '장안1동',
                                  '장안2동',
                                  '청구동',
                                  '전농2동',
                                  '답십리1동',
                                  '명륜3가',
                                  '제기동',
                                  '면목3.8동',
                                  '신당동',
                                  '제기동',
                                  '신당동',
                                  '신당동',
                                  '장기본동',
                                  '김포본동',
                                  '가능동']

In [122]:
startpos[startpos['lat'] == 0]

       출발지상세 출발지상세_변경 lat lng
44     이문제3동     이문2동   0   0
129    상도제1동     상도1동   0   0
175   답십리제4동    답십리2동   0   0
178    신당제3동      약수동   0   0
201    장안제3동     장안1동   0   0
221    장안제4동     장안2동   0   0
248    신당제4동      청구동   0   0
254    전농제3동     전농2동   0   0
350   답십리제3동    답십리1동   0   0
351    명륜3가동     명륜3가   0   0
363    제기제2동      제기동   0   0
375  면목제3.8동   면목3.8동   0   0
396    신당제1동      신당동   0   0
412    제기제1동      제기동   0   0
418    신당제2동      신당동   0   0
420    신당제6동      신당동   0   0
454     김포2동     장기본동   0   0
486     김포1동     김포본동   0   0
501     가능1동      가능동   0   0

## 목적지

In [186]:
eindex = endpos[endpos['lat'] == 0].index

In [189]:
endpos.loc[eindex, '목적지상세_변경'] = ['신당동',
                                  '면목3.8동',
                                  '가능동',
                                  '답십리1동',
                                  '제기동',
                                  '답십리2동',
                                  '동화동',
                                  '의정부동',
                                  '제기동',
                                  '김포본동',
                                  '장안1동',
                                  '약수동',
                                  '전농2동',
                                  '장안2동',
                                  '삼송동', 
                                  '상도1동',
                                  '명륜3가',
                                  '장기본동',
                                  '청구동',
                                  '이문2동',
                                  '흥선동',
                                  '신당동',
                                  '가능동',
                                  '교하동',
                                  '원당동',
                                  '당하동']

In [191]:
endpos[endpos['lat'] == 0]
#잘바뀜 굿굿

       목적지상세 목적지상세_변경 lat lng
16     신당제1동      신당동   0   0
107  면목제3.8동   면목3.8동   0   0
174     가능1동      가능동   0   0
191   답십리제3동    답십리1동   0   0
231    제기제1동      제기동   0   0
245   답십리제4동    답십리2동   0   0
295    신당제6동      동화동   0   0
313    의정부3동     의정부동   0   0
333    제기제2동      제기동   0   0
354     김포1동     김포본동   0   0
372    장안제3동     장안1동   0   0
377    신당제3동      약수동   0   0
380    전농제3동     전농2동   0   0
396    장안제4동     장안2동   0   0
411      신도동      삼송동   0   0
416    상도제1동     상도1동   0   0
456    명륜3가동     명륜3가   0   0
476     김포2동     장기본동   0   0
510    신당제4동      청구동   0   0
528    이문제3동     이문2동   0   0
554     가능3동      흥선동   0   0
599    신당제2동      신당동   0   0
655     가능2동      가능동   0   0
662      교하읍      교하동   0   0
670     검단3동      원당동   0   0
678     검단4동      당하동   0   0

### 변경된 위도,경도 확인

In [127]:
s_change = startpos['출발지상세_변경'].values.tolist()

In [128]:
slat = []
slng = []
pbar = tqdm(total=len(s_change))

  0%|                                                   | 0/557 [00:00<?, ?it/s]

In [129]:
for i in range(len(s_change)):
    params = {'query' : s_change[i]}
    json_data = requests.get(url, headers=headers, params=params).json()
    try:
        slat.append(json_data['addresses'][0]['x'])
        slng.append(json_data['addresses'][0]['y'])
    except:
        slat.append(0)
        slng.append(0)
    pbar.update(1)
pbar.close()

100%|█████████████████████████████████████████| 557/557 [03:36<00:00,  2.57it/s]

In [237]:
spos_done = pd.DataFrame(columns = ['출발지상세', 'slat','slng'])
spos_done['출발지상세'] = s_change
spos_done['slat'] = slat
spos_done['slng'] = slng
spos_done

     출발지상세         slat        slng
0    장위제1동  127.0437129  37.6141245
1    면목제7동  127.0869854  37.5789945
2    정릉제3동   127.004186  37.6089578
3    고척제2동  126.8587122  37.5067055
4      회기동  127.0553132  37.5908083
..     ...          ...         ...
552   호계2동  126.9453031   37.386456
553  심곡본1동  126.7789446  37.4824389
554   신흥3동  127.1489458   37.443555
555    대덕동  126.8751675  37.5855421
556   석수2동  126.9093548  37.4139694

[557 rows x 3 columns]

In [238]:
df_startpos = startpos.merge(spos_done, on = '출발지상세', how = 'inner')

In [239]:
df_startpos = df_startpos.drop(['lat', 'lng'], axis= 1)
df_startpos.columns = ['startpos2', '출발지상세_변경', 'slat', 'slng']

## 목적지

In [240]:
e_change = endpos['목적지상세_변경'].values.tolist()

In [227]:
elat = []
elng = []
pbar = tqdm(total=len(e_change))

  0%|                                                   | 0/691 [00:00<?, ?it/s]

In [228]:
for i in range(len(e_change)):
    params = {'query' : e_change[i]}
    json_data = requests.get(url, headers=headers, params=params).json()
    try:
        elat.append(json_data['addresses'][0]['x'])
        elng.append(json_data['addresses'][0]['y'])
    except:
        elat.append(0)
        elng.append(0)
    pbar.update(1)
pbar.close()

100%|█████████████████████████████████████████| 691/691 [03:18<00:00,  3.48it/s]

In [259]:
epos_done = pd.DataFrame(columns = ['목적지상세', 'elat','elng'])
epos_done['목적지상세'] = e_change
epos_done['elat'] = elat
epos_done['elng'] = elng
epos_done

     목적지상세         elat        elng
0      회기동  127.0553132  37.5908083
1     상계1동  127.0549781  37.6799006
2    수유제3동   127.023125   37.638715
3      은천동  126.9424278  37.4853086
4    장위제2동  127.0545206  37.6123899
..     ...          ...         ...
686   태평3동  127.1330711  37.4453511
687   박달2동  126.9047083  37.4019599
688   동탄1동  127.0719767  37.2064558
689   태평2동  127.1386297  37.4471301
690  상대원3동  127.1655568  37.4397392

[691 rows x 3 columns]

In [260]:
df_endpos = endpos.merge(epos_done, on = '목적지상세', how = 'inner')

In [261]:
df_endpos = df_endpos.drop(['lat', 'lng'], axis = 1)

In [262]:
df_endpos.columns = ['endpos2', '목적지상세_변경', 'elat', 'elng']

In [263]:
df_endpos

    endpos2 목적지상세_변경         elat        elng
0       회기동      회기동  127.0553132  37.5908083
1      상계1동     상계1동  127.0549781  37.6799006
2     수유제3동    수유제3동   127.023125   37.638715
3       은천동      은천동  126.9424278  37.4853086
4     장위제2동    장위제2동  127.0545206  37.6123899
..      ...      ...          ...         ...
660    태평3동     태평3동  127.1330711  37.4453511
661    박달2동     박달2동  126.9047083  37.4019599
662    동탄1동     동탄1동  127.0719767  37.2064558
663    태평2동     태평2동  127.1386297  37.4471301
664   상대원3동    상대원3동  127.1655568  37.4397392

[665 rows x 4 columns]

# 원래 있었던 데이터프레임에 합치기

In [265]:
#startpos
df = df.merge(df_startpos, on = 'startpos2', how = 'inner')

In [266]:
#endpos
df = df.merge(df_endpos, on = 'endpos2', how = 'inner')

In [267]:
df = df.drop(['startpos2', 'endpos2'], axis = 1)

In [275]:
df.columns = ['no', 'cartype', '예정시간', '배차시간', '승차시간', 'startpos1', 'endpos1',
       'startpos2', 'slat', 'slng', 'endpos2', 'elat', 'elng']

In [277]:
df

,no,cartype,예정시간,배차시간,승차시간,startpos1,endpos1,startpos2,slat,slng,endpos2,elat,elng
0,7658,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,동대문구,장위제1동,127.0437129,37.6141245,회기동,127.0553132,37.5908083
1,7909,중형승합,2019-07-23 07:00:00,2019-07-23 07:56:33,2019-07-23 08:21:30,성북구,동대문구,장위제1동,127.0437129,37.6141245,회기동,127.0553132,37.5908083
2,4174,중형승합,2021-08-27 07:00:00,2021-08-27 07:00:27,2021-08-27 07:20:23,성북구,동대문구,장위제1동,127.0437129,37.6141245,회기동,127.0553132,37.5908083
3,8040,중형승합,2021-08-12 07:00:00,2021-08-12 07:09:31,2021-08-12 07:18:53,성북구,동대문구,장위제1동,127.0437129,37.6141245,회기동,127.0553132,37.5908083
4,8279,중형승합,2022-03-02 07:22:00,2022-03-02 07:27:35,2022-03-02 07:55:29,성북구,동대문구,장위제1동,127.0437129,37.6141245,회기동,127.0553132,37.5908083
...,...,...,...,...,...,...,...,...,...,...,...,...,...
389145,3600,중형승합,2020-12-25 08:07:00,2020-12-25 08:08:26,2020-12-25 09:29:43,성북구,수정구,길음제2동,127.0273155,37.6066647,신흥1동,127.1411716,37.4430383
389146,4964,중형승합,2021-05-16 09:14:03,2021-05-16 09:22:04,2021-05-16 09:54:56,성북구,수정구,길음제2동,127.0273155,37.6066647,신흥1동,127.1411716,37.4430383
389147,1192,중형승합,2018-09-25 08:36:00,2018-09-25 08:41:28,2018-09-25 09:12:20,관악구,기흥구,행운동,126.9570456,37.4806541,신갈동,127.1070555,37.2726532
389148,1556,중형승합,2018-06-16 07:00:00,2018-06-16 07:07:27,2018-06-16 07:32:12,강북구,분당구,인수동,127.0106307,37.6415105,서현2동,127.1345991,37.3760371
389149,8064,중형승합,2020-09-06 09:31:00,2020-09-06 09:39:44,2020-09-06 10:46:26,강남구,분당구,도곡1동,127.0390246,37.488238,서현2동,127.1345991,37.3760371

In [279]:
df = df[['no', 'cartype', '예정시간', '배차시간', '승차시간', 'startpos1','startpos2', 'slat', 'slng','endpos1', 'endpos2',
'elat', 'elng']]

In [281]:
df.to_csv('master_cleansing_done.csv', index = False, encoding = 'utf-8')