# 라이브러리 및 데이터프레임 세팅

In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')

In [39]:
paths = glob.glob('master1_cleansing_map_before.csv')
paths[0]

'master1_cleansing_map_before.csv'

In [40]:
df = pd.read_csv(paths[0])
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동

# 동별로 위도,경도 추가하기
- master_cleansing_space_time_map.csv

In [11]:
import geopy

In [12]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

In [13]:
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

In [33]:
geo_startpos1 = []
geo_endpos1  = []
for i in range(5):
    try:
        s_val = geocoding(df['startpos1'][i].strip())
        e_val = geocoding(df['endpos1'][i].strip())
        geo_startpos1.append(s_val)
        geo_endpos1.append(e_val)
    except:
        geo_startpos1.append('error')
        geo_endpos1.append('error')

In [37]:
geo_startpos1[1]

[37.6063, 127.093]

In [29]:
len(geo_startpos1)[]

5

In [30]:
for i in range(5,10):
    try:
        s_val = geocoding(df['startpos1'][i].strip())
        e_val = geocoding(df['endpos1'][i].strip())
        geo_startpos1.append(s_val)
        geo_endpos1.append(e_val)
    except:
        geo_startpos1.append('error')
        geo_endpos1.append('error')

In [31]:
geo_startpos1

[[37.59, 127.0165],
 [37.6063, 127.093],
 [37.59, 127.0165],
 [37.4951999, 126.8877],
 [37.5741982, 127.0395092],
 [37.566571, 126.9015317],
 [37.6063, 127.093],
 [37.5262, 126.8959],
 [37.5384, 127.0828],
 [37.5806949, 126.9827989]]

In [32]:
len(geo_startpos1)

10