In [151]:
import glob
import pandas as pd

In [152]:
df = pd.read_csv('Final_join_before.csv')

In [153]:
df

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,장위제1동,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동,4289,648.464,5600
1,면목제7동,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동,14493,1318.675,13700
2,정릉제3동,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동,4869,864.161,6200
3,고척제2동,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동,10247,1652.785,11000
4,회기동,장위제2동,127.055313,37.590808,127.054521,37.612390,회기동장위제2동,3778,598.639,5200
...,...,...,...,...,...,...,...,...,...,...
32513,여의동,서초2동,126.934584,37.517723,127.024960,37.492080,여의동서초2동,12440,2427.647,15200
32514,쌍문제4동,아현동,127.028425,37.656482,126.952150,37.547125,쌍문제4동아현동,20739,3568.953,21300
32515,상암동,방화제2동,126.894688,37.578325,126.806755,37.566700,상암동방화제2동,11459,1536.186,13490
32516,반포1동,방배2동,127.013507,37.505089,126.985511,37.479744,반포1동방배2동,5665,1115.243,7200
32517,구의제3동,오남읍,127.092020,37.538071,127.204712,37.698876,구의제3동오남읍,30032,2316.442,29630

In [155]:
df[df['direction'] == '이태원제1동신당1동']

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
16,이태원제1동,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동,5084,881.922,6600

In [156]:
df = df.drop(['start', 'end', 'startlat', 'startlng', 'endlat', 'endlng'], axis= 1)

In [157]:
df

        direction  distance  duration  taxiFare
0        장위제1동회기동      4289   648.464      5600
1       면목제7동상계1동     14493  1318.675     13700
2      정릉제3동수유제3동      4869   864.161      6200
3        고척제2동은천동     10247  1652.785     11000
4        회기동장위제2동      3778   598.639      5200
...           ...       ...       ...       ...
32513     여의동서초2동     12440  2427.647     15200
32514    쌍문제4동아현동     20739  3568.953     21300
32515    상암동방화제2동     11459  1536.186     13490
32516    반포1동방배2동      5665  1115.243      7200
32517    구의제3동오남읍     30032  2316.442     29630

[32518 rows x 4 columns]

In [158]:
path = glob.glob('master_cleansing_map_after.csv')
df_origin = pd.read_csv(path[0])

In [159]:
df_origin = df_origin.drop('Unnamed: 0', axis =1)

In [160]:
df_origin['direction'] = df_origin['startpos2'] + df_origin['endpos2']

In [161]:
df_origin.head(3)

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,start_lat,start_lng,end_lat,end_lng,direction
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동
2,중형승합,2018-01-23 00:30:00,2018-01-23 00:17:06,2018-01-23 00:17:39,성북구,정릉제3동,강북구,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동

In [173]:
# 바뀌어야 하는 행정동 이름 딕셔너리화
repl = {"제기제2동" : "제기동",
        "이문제3동" : "이문3동",
        "상도제1동" : "상도1동",
        "가능1동" : "가능동",
        "신당제4동" : "신당4동",
        "신당제3동" : "신당3동",
        "장안제4동" : "장안2동",
        "신당제6동" : "신당6동",
        "신당제1동" : "신당1동",
        "전농제3동" : "전농3동",
        "김포1동" : "김포본동",
        "면목제3.8동" : "면목3.8동",
        "장안제3동" : "장안1동",
        "신당제2동" : "신당2동",
        "명륜3가동" : "명륜3가",
        "답십리제4동" : "답십리4동",
        "제기제1동" : "제기동",
        "답십리제3동" : "답십리3동",
        "김포2동" : "장기본동",
        "의정부3동" : "의정부1동",
        "가능3동" : "흥선동",
        "검단4동" : "당하동",
        "검단3동" : "원당동",
        "신도동" : "삼송동",
        "교하읍" : "교하동",
        "가능2동" : "흥선동"
        }
for i in range(len(df_origin)):
    tt = df_origin['startpos2'][i]
    if tt in list(repl.keys()):
        df_origin.loc[i, 'startpos2'] = repl.get(tt)
for i in range(len(df_origin)):
    tt = df_origin['endpos2'][i]
    if tt in list(repl.keys()):
        df_origin.loc[i, 'endpos2'] = repl.get(tt)
df_origin

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,start_lat,start_lng,end_lat,end_lng,direction
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동
2,중형승합,2018-01-23 00:30:00,2018-01-23 00:17:06,2018-01-23 00:17:39,성북구,정릉제3동,강북구,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동
3,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동
4,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,127.055313,37.590808,127.054521,37.612390,회기동장위제2동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407548,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동,127.010566,37.598039,127.057913,37.499741,돈암제2동대치4동
407549,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동,126.910389,37.611745,126.910389,37.611745,구산동구산동
407550,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동,127.051587,37.666785,126.910692,37.520398,상계8동영등포동
407551,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동,127.019392,37.610486,127.028847,37.637891,길음제1동번제1동
407552,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동,127.125435,37.543526,127.144366,37.551245,천호제2동명일제1동

In [180]:
df_origin['direction'] = df_origin['startpos2'] + df_origin['endpos2']

In [175]:
df_origin[df_origin['direction'] == '이태원제1동신당1동']

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,start_lat,start_lng,end_lat,end_lng,direction
16,중형승합,2018-01-23 02:56:00,2018-01-23 02:57:57,2018-01-23 03:28:01,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
1261,중형승합,2018-01-21 03:29:00,2018-01-21 03:41:58,2018-01-21 04:15:51,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
1749,중형승합,2018-01-25 02:47:00,2018-01-25 02:53:11,2018-01-25 03:20:06,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
1998,중형승합,2018-01-31 03:05:00,2018-01-31 03:13:05,2018-01-31 03:37:49,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
2748,중형승합,2018-01-18 03:14:00,2018-01-18 03:15:27,2018-01-18 03:36:28,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130945,중형승합,2019-06-30 08:21:00,2019-06-30 09:24:28,2019-06-18 02:23:21,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
134181,중형승합,2019-06-10 07:00:00,2019-06-10 08:28:04,2019-06-04 02:34:30,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
136917,중형승합,2019-07-21 08:22:00,2019-07-21 09:45:05,2019-07-23 02:09:44,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
142896,중형승합,2019-07-10 07:00:00,2019-07-10 07:07:30,2019-07-04 02:50:20,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동
151108,중형승합,2019-08-09 07:00:00,2019-08-09 07:42:06,2019-08-21 02:26:20,용산구,이태원제1동,중구,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동

In [181]:
df_origin.isna().sum()

cartype      0
예정시간         0
배차시간         0
승차시간         0
startpos1    0
startpos2    0
endpos1      0
endpos2      0
start_lat    0
start_lng    0
end_lat      0
end_lng      0
direction    0
dtype: int64

In [191]:
df_origin['direction'].value_counts()

가양제1동신촌동           1488
하계1동방학제1동          1439
상계1동종로1.2.3.4가동    1242
하계1동하계1동           1145
부암동창신제1동           1138
                   ...
화곡제4동소하2동             1
숭인제2동장충동              1
상도제2동양재1동             1
신대방제2동청운효자동           1
구의제3동오남읍              1
Name: direction, Length: 32478, dtype: int64

In [192]:
df['direction'].value_counts()

중계2.3동제기동    2
제기동남영동       2
제기동삼성2동      2
세곡동제기동       2
면목제2동제기동     2
            ..
양평제1동목5동     1
방화제1동한강로동    1
거여2동쌍문제3동    1
길음제2동월계3동    1
구의제3동오남읍     1
Name: direction, Length: 32478, dtype: int64

In [194]:
df_origin

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,start_lat,start_lng,end_lat,end_lng,direction
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동
2,중형승합,2018-01-23 00:30:00,2018-01-23 00:17:06,2018-01-23 00:17:39,성북구,정릉제3동,강북구,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동
3,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동
4,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,127.055313,37.590808,127.054521,37.612390,회기동장위제2동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407548,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동,127.010566,37.598039,127.057913,37.499741,돈암제2동대치4동
407549,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동,126.910389,37.611745,126.910389,37.611745,구산동구산동
407550,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동,127.051587,37.666785,126.910692,37.520398,상계8동영등포동
407551,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동,127.019392,37.610486,127.028847,37.637891,길음제1동번제1동
407552,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동,127.125435,37.543526,127.144366,37.551245,천호제2동명일제1동

In [198]:
ho = pd.merge(df_origin, df, on = 'direction', how = 'left')

In [201]:
ho[ho['distance'] == 0][ho['startpos2'] != ho['endpos2']]

/var/folders/3q/y966c1fj3lndmps8kk3plpy40000gn/T/ipykernel_7750/3504367957.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ho[ho['distance'] == 0][ho['startpos2'] != ho['endpos2']]

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,start_lat,start_lng,end_lat,end_lng,direction,distance,duration,taxiFare
9939,중형승합,2018-02-25 08:36:00,2018-02-25 09:24:18,2018-02-25 09:38:19,동대문구,이문3동,동대문구,이문제2동,127.065075,37.603357,127.065075,37.603357,이문3동이문제2동,0,0.0,0
13388,중형승합,2018-02-04 08:16:00,2018-02-04 09:00:28,2018-02-04 09:23:55,동대문구,이문3동,동대문구,이문제2동,127.065075,37.603357,127.065075,37.603357,이문3동이문제2동,0,0.0,0
50320,중형승합,2018-07-06 07:00:00,2018-07-06 07:04:37,2018-07-12 01:17:50,동대문구,장안1동,동대문구,장안제1동,127.066375,37.567842,127.066375,37.567842,장안1동장안제1동,0,0.0,0
58292,중형승합,2018-08-23 07:00:00,2018-08-23 07:11:19,2018-08-22 00:42:44,동대문구,장안1동,동대문구,장안제1동,127.066375,37.567842,127.066375,37.567842,장안1동장안제1동,0,0.0,0
106608,중형승합,2019-03-19 07:00:00,2019-03-19 07:47:25,2019-03-19 07:23:15,동대문구,전농3동,동대문구,전농제2동,127.060038,37.578103,127.060038,37.578103,전농3동전농제2동,0,0.0,0
201143,중형승합,2020-03-22 07:50:00,2020-03-22 07:55:34,2020-03-22 09:07:14,동대문구,전농3동,동대문구,전농제2동,127.060038,37.578103,127.060038,37.578103,전농3동전농제2동,0,0.0,0
255579,중형승합,2020-10-02 08:30:00,2020-10-02 08:32:43,2020-10-02 09:46:04,동대문구,이문제2동,동대문구,이문3동,127.065075,37.603357,127.065075,37.603357,이문제2동이문3동,0,0.0,0
255643,중형승합,2020-10-02 10:00:00,2020-10-02 09:58:28,2020-10-02 10:39:40,동대문구,이문3동,동대문구,이문제2동,127.065075,37.603357,127.065075,37.603357,이문3동이문제2동,0,0.0,0
324937,중형승합,2021-07-18 09:28:00,2021-07-18 09:33:55,2021-07-18 10:15:55,동대문구,이문제2동,동대문구,이문3동,127.065075,37.603357,127.065075,37.603357,이문제2동이문3동,0,0.0,0
337230,중형승합,2021-09-04 08:15:00,2021-09-04 09:12:23,2021-09-04 09:04:17,동대문구,장안제1동,동대문구,장안1동,127.066375,37.567842,127.066375,37.567842,장안제1동장안1동,0,0.0,0