# 라이브러리 및 데이터프레임 세팅

In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')

In [2]:
paths = glob.glob('*.csv')
paths[1]

'master.csv'

In [36]:
df = pd.read_csv(paths[1])
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동

In [4]:
df.shape

(407613, 10)

# EDA전 rough하게 나마 클린징 진행

In [5]:
df = df.drop('Unnamed: 0', axis = 1)

In [35]:
df.head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,nan,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,nan,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동

In [7]:
df['cartype'][1].replace(" ","")

'중형승합'

In [8]:
len(df)

407613

In [17]:
for i in range(len(df)):
    df['cartype'][i] = str(df['cartype'][i]).replace(' ', '')

In [24]:
df['cartype'].unique()

array(['중형승합', '중형승용', '승합', '대형승용', 'nan', '증형승용'], dtype=object)

In [34]:
df['cartype'] = 'nan'

In [ ]:
for i in range(len(df)):
    df['cartype'][i] = str(df['cartype'][i]).replace(' ', '').replace('증형승용', '중형승용')

In [ ]:
df

In [ ]:
for i in range(len(df)):
    df['cartype'][i] = df['cartype'][i].replace(" ","")
df

/var/folders/3q/y966c1fj3lndmps8kk3plpy40000gn/T/ipykernel_20530/1152906159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cartype'][i] = df['cartype'][i].replace(" ","")

In [ ]:
for i in range(10):
    df['cartype'][i] = df['cartype'][i].replace(" ","")
df