# 라이브러리 및 데이터프레임 세팅

In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')

In [2]:
paths = glob.glob('master.csv')
paths[0]

'master.csv'

In [4]:
df = pd.read_csv(paths[0])
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동

In [5]:
df.shape

(407613, 10)

# Cleansing
## cartype 처리
- master_cleansing_space.csv

In [6]:
df = df.drop('Unnamed: 0', axis = 1)

In [7]:
df.head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동

In [8]:
df['cartype'][1].replace(" ","")

'중형승합'

In [9]:
len(df)

407613

In [10]:
df['cartype'].unique()

array(['중형승합', '중형 승합', '중형승용', '승합', '중형 승용', '대형승용', '대형 승용', nan,
       '증형승용'], dtype=object)

In [11]:
for i in range(len(df)):
    df['cartype'][i] = str(df['cartype'][i]).replace(' ', '').replace('증형승용', '중형승용')

In [31]:
df['cartype'].unique()

array(['중형승합', '중형승용', '승합', '대형승용', 'nan'], dtype=object)

In [12]:
df_nan = df[df['cartype'] == 'nan']
df_nan.to_csv('master_nan.csv', index = False, encoding = 'utf-8')

In [13]:
df.isnull().sum()

no              0
cartype         0
receipttime     0
settime        30
ridetime       10
startpos1       0
startpos2       0
endpos1         0
endpos2         0
dtype: int64

In [14]:
len(df[df['cartype'] == 'nan'])

10

In [15]:
idx = df[df['cartype'] == 'nan'].index
df = df.drop(idx)

In [16]:
df

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동
...,...,...,...,...,...,...,...,...,...
407608,8579,대형승용,2022-06-24 오전 7:00:00,2022-06-24 오전 6:54:20,2022-06-24 오전 7:17:08,성북구,돈암제2동,강남구,대치4동
407609,8006,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:07:58,2022-06-24 오전 7:42:04,은평구,구산동,은평구,구산동
407610,8261,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:04:58,2022-06-24 오전 7:16:19,노원구,상계8동,영등포구,영등포동
407611,1558,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:03:25,2022-06-24 오전 7:27:10,성북구,길음제1동,강북구,번제1동
407612,5725,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:10:22,2022-06-24 오전 7:20:46,강동구,천호제2동,강동구,명일제1동

In [17]:
df.to_csv('master_cleansing_space.csv', index = False, encoding = 'utf-8')

## 시간처리 (datetime으로 변경)
- 오후는 12시간 덧셈
- master_cleansing_space_time.csv

### ridetime

In [18]:
import datetime
import numpy as np

In [19]:
df[df['ridetime'].str.contains('오전')].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동

In [20]:
df[df['ridetime'].str.contains('오전')].shape

(406366, 9)

In [21]:
df[df['ridetime'].str.contains('오후')].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
64242,1567,중형승합,2018-09-12 오전 12:10:00,2018-09-11 오후 11:58:30,2018-09-11 오후 11:59:32,강동구,천호제3동,강북구,수유제3동
66484,1194,중형승합,2018-09-19 오전 12:25:00,2018-09-18 오후 11:56:12,2018-09-18 오후 11:58:00,하남시,신장2동,강동구,천호제3동

In [22]:
df[df['ridetime'].str.contains('오후')].shape

(1237, 9)

In [23]:
df['오전'] = pd.to_datetime(df[df['ridetime'].str.contains('오전')]['ridetime'].str.replace('오전', ''))

In [31]:
import datetime as dt

In [63]:
val_after = df[df['오전'].dt.hour == 12]['오전'] - datetime.timedelta(hours = 12)

In [78]:
val_after.values

array(['2018-01-23T00:34:08.000000000', '2018-01-23T00:17:39.000000000',
       '2018-01-09T00:53:36.000000000', ...,
       '2022-06-25T00:54:51.000000000', '2022-06-19T00:53:53.000000000',
       '2022-06-18T00:58:28.000000000'], dtype='datetime64[ns]')

In [65]:
val_before = df[df['오전'].dt.hour == 12]['오전']

In [73]:
val_before.index

Int64Index([     0,      2,    998,   1245,   1248,   1251,   1253,   1494,
              1495,   1496,
            ...
            406119, 406120, 406368, 406369, 406370, 406372, 406375, 406620,
            406866, 407117],
           dtype='int64', length=2922)

In [79]:
df.loc[val_before.index, '오전'] = val_after.values

In [84]:
df.head()

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,오전
0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 00:34:08
1,1551,중형승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22
2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 00:17:39
3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33
4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53

In [85]:
df['오후'] = pd.to_datetime(df[df['ridetime'].str.contains('오후')]['ridetime'].str.replace('오후', '')) + datetime.timedelta(hours = 12)

In [94]:
df[df['오후'].dt.hour == 0]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,오전,오후
198366,6144,중형승합,2020-03-01 오전 11:22:00,2020-03-01 오전 11:32:35,2020-03-01 오후 12:12:15,강서구,가양제2동,중랑구,면목제4동,NaT,2020-03-02 00:12:15
198371,7930,중형승합,2020-03-01 오전 11:31:00,2020-03-01 오전 11:39:58,2020-03-01 오후 12:16:02,중구,회현동,은평구,응암제3동,NaT,2020-03-02 00:16:02
198374,1124,중형승합,2020-03-01 오전 11:37:00,2020-03-01 오전 11:46:42,2020-03-01 오후 12:04:06,강서구,방화제3동,강서구,가양제3동,NaT,2020-03-02 00:04:06
198378,9955,중형승합,2020-03-01 오전 11:43:00,2020-03-01 오전 11:46:29,2020-03-01 오후 12:00:38,양천구,신정3동,양천구,목1동,NaT,2020-03-02 00:00:38
198379,7648,중형승합,2020-03-01 오전 11:47:00,2020-03-01 오전 11:55:37,2020-03-01 오후 12:12:07,동대문구,신설동,성동구,마장동,NaT,2020-03-02 00:12:07
...,...,...,...,...,...,...,...,...,...,...,...
275854,8036,중형승합,2021-01-03 오후 12:40:00,2021-01-03 오후 12:41:45,2021-01-03 오후 12:58:43,중랑구,망우제3동,중랑구,신내2동,NaT,2021-01-04 00:58:43
275856,8260,중형승합,2021-01-03 오후 12:41:00,2021-01-03 오후 12:43:22,2021-01-03 오후 12:47:13,강남구,삼성1동,서대문구,북가좌제2동,NaT,2021-01-04 00:47:13
275858,8157,중형승합,2021-01-03 오후 12:42:00,2021-01-03 오후 12:51:36,2021-01-03 오후 12:57:51,송파구,잠실3동,송파구,잠실본동,NaT,2021-01-04 00:57:51
327847,809,중형승합,2021-08-08 오전 9:58:00,2021-08-08 오후 12:07:26,2021-08-08 오후 12:49:50,동작구,사당제1동,동작구,상도제2동,NaT,2021-08-09 00:49:50
346539,1571,중형승합,2021-10-03 오전 9:32:00,2021-10-03 오후 12:04:21,2021-10-03 오후 12:51:10,성북구,길음제1동,성북구,월곡제2동,NaT,2021-10-04 00:51:10

In [113]:
val_오후_after = df[df['오후'].dt.hour == 0]['오후'] - datetime.timedelta(hours = 12)

In [116]:
val_오후_after.values

array(['2020-03-01T12:12:15.000000000', '2020-03-01T12:16:02.000000000',
       '2020-03-01T12:04:06.000000000', '2020-03-01T12:00:38.000000000',
       '2020-03-01T12:12:07.000000000', '2020-03-01T12:04:44.000000000',
       '2020-03-01T12:09:29.000000000', '2020-03-01T12:19:21.000000000',
       '2020-03-01T12:29:30.000000000', '2020-03-01T12:11:00.000000000',
       '2020-03-01T12:12:42.000000000', '2020-03-01T12:07:35.000000000',
       '2020-03-01T12:13:32.000000000', '2020-03-01T12:24:46.000000000',
       '2020-03-01T12:31:14.000000000', '2020-03-01T12:17:17.000000000',
       '2020-03-01T12:35:33.000000000', '2020-03-01T12:36:57.000000000',
       '2020-03-01T12:31:24.000000000', '2020-03-01T12:33:17.000000000',
       '2020-03-01T12:28:22.000000000', '2020-03-01T12:31:21.000000000',
       '2020-03-01T12:46:47.000000000', '2020-03-01T12:39:02.000000000',
       '2020-03-01T12:34:25.000000000', '2020-03-01T12:44:31.000000000',
       '2020-03-01T12:45:17.000000000', '2020-03-01T12:30:41.000000000',
       '2020-03-01T12:39:09.000000000', '2020-03-01T12:50:20.000000000',
       '2020-03-01T12:34:43.000000000', '2020-03-01T12:40:57.000000000',
       '2020-03-01T12:44:09.000000000', '2020-03-01T12:45:39.000000000',
       '2020-03-01T12:37:04.000000000', '2020-03-01T12:52:43.000000000',
       '2020-03-01T12:56:24.000000000', '2020-03-01T12:51:20.000000000',
       '2020-03-01T12:32:22.000000000', '2020-03-01T12:36:10.000000000',
       '2020-03-01T12:47:29.000000000', '2020-03-01T12:45:51.000000000',
       '2020-03-01T12:56:39.000000000', '2020-03-01T12:55:03.000000000',
       '2020-03-15T12:26:34.000000000', '2020-03-15T12:01:27.000000000',
       '2020-03-15T12:08:52.000000000', '2020-03-15T12:00:58.000000000',
       '2020-03-15T12:14:58.000000000', '2020-03-15T12:06:57.000000000',
       '2020-03-15T12:04:59.000000000', '2020-03-15T12:03:26.000000000',
       '2020-03-15T12:09:02.000000000', '2020-03-15T12:06:23.000000000',
       '2020-03-15T12:13:27.000000000', '2020-03-15T12:13:45.000000000',
       '2020-03-15T12:15:05.000000000', '2020-03-15T12:20:53.000000000',
       '2020-03-15T12:10:05.000000000', '2020-03-15T12:24:25.000000000',
       '2020-03-15T12:18:47.000000000', '2020-03-15T12:30:59.000000000',
       '2020-03-15T12:18:04.000000000', '2020-03-15T12:09:59.000000000',
       '2020-03-15T12:15:07.000000000', '2020-03-15T12:34:45.000000000',
       '2020-03-15T12:32:38.000000000', '2020-03-15T12:22:28.000000000',
       '2020-03-15T12:28:17.000000000', '2020-03-15T12:20:14.000000000',
       '2020-03-15T12:40:13.000000000', '2020-03-15T12:34:22.000000000',
       '2020-03-15T12:46:06.000000000', '2020-03-15T12:39:10.000000000',
       '2020-03-15T12:28:23.000000000', '2020-03-15T12:32:12.000000000',
       '2020-03-15T12:37:16.000000000', '2020-03-15T12:36:46.000000000',
       '2020-03-15T12:32:41.000000000', '2020-03-15T12:32:39.000000000',
       '2020-03-15T12:35:15.000000000', '2020-03-15T12:36:13.000000000',
       '2020-03-15T12:41:21.000000000', '2020-03-15T12:36:07.000000000',
       '2020-03-15T12:54:15.000000000', '2020-03-15T12:43:33.000000000',
       '2020-03-15T12:58:47.000000000', '2020-03-15T12:47:01.000000000',
       '2020-03-15T12:46:41.000000000', '2020-03-15T12:44:03.000000000',
       '2020-03-15T12:48:00.000000000', '2020-03-15T12:58:13.000000000',
       '2020-03-15T12:50:04.000000000', '2020-03-15T12:57:32.000000000',
       '2020-03-15T12:59:28.000000000', '2020-03-15T12:59:55.000000000',
       '2020-03-15T12:09:21.000000000', '2020-03-15T12:53:15.000000000',
       '2020-03-15T12:59:07.000000000', '2020-03-15T12:50:52.000000000',
       '2020-03-29T12:04:08.000000000', '2020-03-29T12:12:18.000000000',
       '2020-03-29T12:05:30.000000000', '2020-03-29T12:10:46.000000000',
       '2020-03-29T12:03:17.000000000', '2020-03-29T12:03:54.000000000',
       '2020-03-29T12:17:38.000000000', '2020-03-29T12:12:30.000000000',
       '2020-03-29T12:05:29.000000000', '2020-03-29T12:08:28.000000000',
       '2020-03-29T12:08:39.000000000', '2020-03-29T12:08:18.000000000',
       '2020-03-29T12:03:32.000000000', '2020-03-29T12:15:28.000000000',
       '2020-03-29T12:08:47.000000000', '2020-03-29T12:11:32.000000000',
       '2020-03-29T12:13:46.000000000', '2020-03-29T12:51:09.000000000',
       '2020-03-29T12:17:35.000000000', '2020-03-29T12:30:21.000000000',
       '2020-03-29T12:24:50.000000000', '2020-03-29T12:38:02.000000000',
       '2020-03-29T12:36:13.000000000', '2020-03-29T12:45:37.000000000',
       '2020-03-29T12:38:06.000000000', '2020-03-29T12:29:37.000000000',
       '2020-03-29T12:23:21.000000000', '2020-03-29T12:34:58.000000000',
       '2020-03-29T12:26:07.000000000', '2020-03-29T12:25:42.000000000',
       '2020-03-29T12:41:38.000000000', '2020-03-29T12:28:28.000000000',
       '2020-03-29T12:41:43.000000000', '2020-03-29T12:40:26.000000000',
       '2020-03-29T12:41:33.000000000', '2020-03-29T12:40:15.000000000',
       '2020-03-29T12:24:25.000000000', '2020-03-29T12:34:42.000000000',
       '2020-03-29T12:35:50.000000000', '2020-03-29T12:43:44.000000000',
       '2020-03-29T12:38:05.000000000', '2020-03-29T12:43:08.000000000',
       '2020-03-29T12:34:41.000000000', '2020-03-29T12:32:21.000000000',
       '2020-03-29T12:49:05.000000000', '2020-03-29T12:51:32.000000000',
       '2020-03-29T12:34:59.000000000', '2020-03-29T12:44:12.000000000',
       '2020-03-29T12:46:20.000000000', '2020-03-29T12:45:26.000000000',
       '2020-03-29T12:54:10.000000000', '2020-03-29T12:48:45.000000000',
       '2020-03-29T12:43:02.000000000', '2020-03-29T12:57:01.000000000',
       '2020-03-29T12:50:52.000000000', '2020-03-29T12:45:59.000000000',
       '2020-03-29T12:58:34.000000000', '2020-03-29T12:58:21.000000000',
       '2020-03-29T12:59:19.000000000', '2020-03-29T12:52:24.000000000',
       '2020-03-22T12:02:00.000000000', '2020-03-22T12:05:08.000000000',
       '2020-03-22T12:11:38.000000000', '2020-03-22T12:04:04.000000000',
       '2020-03-22T12:16:06.000000000', '2020-03-22T12:16:52.000000000',
       '2020-03-22T12:07:39.000000000', '2020-03-22T12:32:15.000000000',
       '2020-03-22T12:20:46.000000000', '2020-03-22T12:23:39.000000000',
       '2020-03-22T12:12:04.000000000', '2020-03-22T12:21:47.000000000',
       '2020-03-22T12:27:43.000000000', '2020-03-22T12:18:47.000000000',
       '2020-03-22T12:26:53.000000000', '2020-03-22T12:29:40.000000000',
       '2020-03-22T12:32:18.000000000', '2020-03-22T12:30:23.000000000',
       '2020-03-22T12:38:18.000000000', '2020-03-22T12:22:27.000000000',
       '2020-03-22T12:39:35.000000000', '2020-03-22T12:35:19.000000000',
       '2020-03-22T12:26:28.000000000', '2020-03-22T12:32:51.000000000',
       '2020-03-22T12:52:44.000000000', '2020-03-22T12:37:09.000000000',
       '2020-03-22T12:33:35.000000000', '2020-03-22T12:35:48.000000000',
       '2020-03-22T12:43:04.000000000', '2020-03-22T12:39:51.000000000',
       '2020-03-22T12:30:43.000000000', '2020-03-22T12:29:51.000000000',
       '2020-03-22T12:34:31.000000000', '2020-03-22T12:41:35.000000000',
       '2020-03-22T12:45:43.000000000', '2020-03-22T12:31:47.000000000',
       '2020-03-22T12:41:05.000000000', '2020-03-22T12:50:02.000000000',
       '2020-03-22T12:51:13.000000000', '2020-03-22T12:43:56.000000000',
       '2020-03-22T12:56:21.000000000', '2020-03-22T12:52:53.000000000',
       '2020-03-22T12:55:56.000000000', '2020-03-22T12:45:07.000000000',
       '2020-03-22T12:51:37.000000000', '2020-03-08T12:11:42.000000000',
       '2020-03-08T12:07:49.000000000', '2020-03-08T12:02:39.000000000',
       '2020-03-08T12:10:40.000000000', '2020-03-08T12:11:57.000000000',
       '2020-03-08T12:10:44.000000000', '2020-03-08T12:06:34.000000000',
       '2020-03-08T12:08:40.000000000', '2020-03-08T12:02:42.000000000',
       '2020-03-08T12:11:32.000000000', '2020-03-08T12:14:53.000000000',
       '2020-03-08T12:13:11.000000000', '2020-03-08T12:07:38.000000000',
       '2020-03-08T12:27:52.000000000', '2020-03-08T12:22:11.000000000',
       '2020-03-08T12:27:10.000000000', '2020-03-08T12:34:26.000000000',
       '2020-03-08T12:30:40.000000000', '2020-03-08T12:25:26.000000000',
       '2020-03-08T12:27:44.000000000', '2020-03-08T12:19:43.000000000',
       '2020-03-08T12:31:47.000000000', '2020-03-08T12:28:09.000000000',
       '2020-03-08T12:37:22.000000000', '2020-03-08T12:20:34.000000000',
       '2020-03-08T12:50:17.000000000', '2020-03-08T12:25:12.000000000',
       '2020-03-08T12:33:20.000000000', '2020-03-08T12:23:15.000000000',
       '2020-03-08T12:50:51.000000000', '2020-03-08T12:36:22.000000000',
       '2020-03-08T12:35:12.000000000', '2020-03-08T12:41:08.000000000',
       '2020-03-08T12:41:15.000000000', '2020-03-08T12:37:15.000000000',
       '2020-03-08T12:43:50.000000000', '2020-03-08T12:36:31.000000000',
       '2020-03-08T12:40:47.000000000', '2020-03-08T12:58:20.000000000',
       '2020-03-08T12:47:06.000000000', '2020-03-08T12:34:04.000000000',
       '2020-03-08T12:56:44.000000000', '2020-03-08T12:51:14.000000000',
       '2020-03-08T12:55:02.000000000', '2020-03-08T12:39:16.000000000',
       '2020-03-08T12:43:26.000000000', '2020-03-08T12:45:21.000000000',
       '2020-03-08T12:45:30.000000000', '2020-03-08T12:39:21.000000000',
       '2020-03-08T12:59:38.000000000', '2020-03-08T12:57:43.000000000',
       '2020-03-08T12:54:26.000000000', '2020-03-08T12:50:29.000000000',
       '2020-03-08T12:59:40.000000000', '2020-03-08T12:50:44.000000000',
       '2020-03-08T12:10:57.000000000', '2020-03-08T12:56:51.000000000',
       '2020-03-08T12:54:16.000000000', '2020-04-12T12:00:50.000000000',
       '2020-04-12T12:02:51.000000000', '2020-04-12T12:10:50.000000000',
       '2020-04-12T12:08:41.000000000', '2020-04-12T12:14:04.000000000',
       '2020-04-12T12:14:35.000000000', '2020-04-12T12:13:45.000000000',
       '2020-04-12T12:09:25.000000000', '2020-04-12T12:04:46.000000000',
       '2020-04-12T12:08:59.000000000', '2020-04-12T12:02:04.000000000',
       '2020-04-12T12:05:44.000000000', '2020-04-12T12:13:35.000000000',
       '2020-04-12T12:23:09.000000000', '2020-04-12T12:23:46.000000000',
       '2020-04-12T12:06:48.000000000', '2020-04-12T12:04:42.000000000',
       '2020-04-12T12:28:58.000000000', '2020-04-12T12:27:48.000000000',
       '2020-04-12T12:14:56.000000000', '2020-04-12T12:26:35.000000000',
       '2020-04-12T12:39:29.000000000', '2020-04-12T12:17:36.000000000',
       '2020-04-12T12:18:41.000000000', '2020-04-12T12:24:29.000000000',
       '2020-04-12T12:19:07.000000000', '2020-04-12T12:28:25.000000000',
       '2020-04-12T12:22:11.000000000', '2020-04-12T12:21:30.000000000',
       '2020-04-12T12:24:33.000000000', '2020-04-05T12:08:35.000000000',
       '2020-04-05T12:02:21.000000000', '2020-04-05T12:16:55.000000000',
       '2020-04-05T12:20:41.000000000', '2020-04-05T12:12:53.000000000',
       '2020-04-05T12:04:32.000000000', '2020-04-05T12:26:09.000000000',
       '2020-04-05T12:22:13.000000000', '2020-04-05T12:19:11.000000000',
       '2020-04-05T12:15:14.000000000', '2020-04-05T12:15:14.000000000',
       '2020-04-05T12:20:23.000000000', '2020-04-05T12:18:43.000000000',
       '2020-04-05T12:16:41.000000000', '2020-04-05T12:18:08.000000000',
       '2020-04-05T12:18:40.000000000', '2020-04-05T12:10:43.000000000',
       '2020-04-05T12:33:25.000000000', '2020-04-05T12:31:26.000000000',
       '2020-04-05T12:50:53.000000000', '2020-04-05T12:25:37.000000000',
       '2020-04-05T12:27:41.000000000', '2020-04-05T12:23:34.000000000',
       '2020-04-05T12:26:19.000000000', '2020-04-05T12:52:36.000000000',
       '2020-04-05T12:40:10.000000000', '2020-04-05T12:31:14.000000000',
       '2020-04-05T12:59:24.000000000', '2020-04-05T12:34:55.000000000',
       '2020-04-05T12:45:28.000000000', '2020-04-05T12:36:22.000000000',
       '2020-04-05T12:49:25.000000000', '2020-04-05T12:49:45.000000000',
       '2020-04-05T12:40:14.000000000', '2020-04-05T12:38:29.000000000',
       '2020-04-05T12:46:06.000000000', '2020-04-05T12:46:55.000000000',
       '2020-04-05T12:57:04.000000000', '2020-04-05T12:51:04.000000000',
       '2020-04-05T12:51:17.000000000', '2020-04-05T12:44:49.000000000',
       '2020-04-05T12:58:43.000000000', '2020-04-05T12:59:46.000000000',
       '2020-04-05T12:56:29.000000000', '2020-04-05T12:50:13.000000000',
       '2020-04-19T12:09:08.000000000', '2020-04-19T12:08:15.000000000',
       '2020-04-19T12:08:23.000000000', '2020-04-19T12:04:27.000000000',
       '2020-04-19T12:00:53.000000000', '2020-04-19T12:08:00.000000000',
       '2020-04-19T12:08:00.000000000', '2020-04-19T12:01:44.000000000',
       '2020-04-19T12:01:06.000000000', '2020-04-19T12:14:52.000000000',
       '2020-04-19T12:05:28.000000000', '2020-04-19T12:02:12.000000000',
       '2020-04-19T12:04:44.000000000', '2020-04-19T12:19:10.000000000',
       '2020-04-19T12:20:46.000000000', '2020-04-19T12:02:54.000000000',
       '2020-04-19T12:11:31.000000000', '2020-04-19T12:14:21.000000000',
       '2020-04-19T12:12:39.000000000', '2020-04-19T12:21:10.000000000',
       '2020-04-19T12:18:29.000000000', '2020-04-19T12:15:56.000000000',
       '2020-04-19T12:12:25.000000000', '2020-04-19T12:15:44.000000000',
       '2020-04-19T12:40:45.000000000', '2020-04-19T12:15:26.000000000',
       '2020-04-19T12:29:04.000000000', '2020-04-19T12:27:42.000000000',
       '2020-04-19T12:24:35.000000000', '2020-04-19T12:31:04.000000000',
       '2020-04-19T12:18:13.000000000', '2020-04-19T12:22:59.000000000',
       '2020-04-19T12:19:34.000000000', '2020-05-03T12:07:16.000000000',
       '2020-08-23T12:01:56.000000000', '2020-08-23T12:00:55.000000000',
       '2020-08-23T12:06:42.000000000', '2020-08-23T12:24:15.000000000',
       '2020-08-23T12:18:54.000000000', '2020-08-23T12:02:23.000000000',
       '2020-08-23T12:14:03.000000000', '2020-08-23T12:09:53.000000000',
       '2020-08-23T12:17:52.000000000', '2020-08-23T12:07:37.000000000',
       '2020-08-23T12:17:22.000000000', '2020-08-23T12:05:50.000000000',
       '2020-08-23T12:03:12.000000000', '2020-08-23T12:06:17.000000000',
       '2020-08-23T12:14:27.000000000', '2020-08-23T12:22:23.000000000',
       '2020-08-23T12:06:09.000000000', '2020-08-23T12:16:11.000000000',
       '2020-08-23T12:20:36.000000000', '2020-08-23T12:09:21.000000000',
       '2020-08-23T12:17:37.000000000', '2020-08-23T12:20:54.000000000',
       '2020-08-23T12:21:51.000000000', '2020-08-23T12:40:44.000000000',
       '2020-08-23T12:28:16.000000000', '2020-08-23T12:23:33.000000000',
       '2020-08-23T12:15:30.000000000', '2020-08-23T12:15:35.000000000',
       '2020-08-23T12:20:00.000000000', '2020-08-23T12:17:36.000000000',
       '2020-08-23T12:21:39.000000000', '2020-08-23T12:18:50.000000000',
       '2020-08-23T12:29:54.000000000', '2020-08-23T12:47:26.000000000',
       '2020-08-23T12:47:26.000000000', '2020-08-23T12:31:26.000000000',
       '2020-08-23T12:37:12.000000000', '2020-08-23T12:45:58.000000000',
       '2020-08-23T12:37:24.000000000', '2020-08-23T12:33:44.000000000',
       '2020-08-23T12:43:13.000000000', '2020-08-23T12:31:14.000000000',
       '2020-08-23T12:18:10.000000000', '2020-08-23T12:33:39.000000000',
       '2020-08-23T12:28:07.000000000', '2020-08-23T12:30:56.000000000',
       '2020-08-23T12:48:34.000000000', '2020-08-30T12:01:00.000000000',
       '2020-08-30T12:04:47.000000000', '2020-08-30T12:04:47.000000000',
       '2020-08-30T12:02:16.000000000', '2020-08-30T12:03:02.000000000',
       '2020-08-30T12:05:17.000000000', '2020-08-30T12:15:00.000000000',
       '2020-08-30T12:07:20.000000000', '2020-08-30T12:13:41.000000000',
       '2020-08-30T12:11:49.000000000', '2020-08-30T12:18:59.000000000',
       '2020-08-30T12:23:25.000000000', '2020-08-30T12:21:02.000000000',
       '2020-08-30T12:21:02.000000000', '2020-08-30T12:23:09.000000000',
       '2020-08-30T12:23:58.000000000', '2020-08-30T12:15:42.000000000',
       '2020-08-30T12:19:11.000000000', '2020-08-30T12:24:12.000000000',
       '2020-08-30T12:18:01.000000000', '2020-08-30T12:48:14.000000000',
       '2020-08-30T12:21:39.000000000', '2020-08-30T12:48:36.000000000',
       '2020-08-30T12:36:50.000000000', '2020-08-30T12:34:03.000000000',
       '2020-08-30T12:31:36.000000000', '2020-08-30T12:25:58.000000000',
       '2020-08-30T12:47:16.000000000', '2020-08-30T12:35:18.000000000',
       '2020-08-30T12:42:40.000000000', '2020-08-30T12:41:05.000000000',
       '2020-08-30T12:41:07.000000000', '2020-08-30T12:29:23.000000000',
       '2020-08-30T12:40:04.000000000', '2020-08-30T12:40:28.000000000',
       '2020-08-30T12:47:41.000000000', '2020-08-30T12:22:07.000000000',
       '2020-08-30T12:22:07.000000000', '2020-08-30T12:36:11.000000000',
       '2020-08-30T12:31:13.000000000', '2020-08-30T12:45:06.000000000',
       '2020-08-30T12:33:45.000000000', '2020-08-30T12:50:13.000000000',
       '2020-08-30T12:35:24.000000000', '2020-08-30T12:46:29.000000000',
       '2020-08-30T12:51:18.000000000', '2020-08-30T12:49:18.000000000',
       '2020-08-30T12:51:19.000000000', '2020-08-30T12:53:20.000000000',
       '2020-08-30T12:57:34.000000000', '2020-08-30T12:52:25.000000000',
       '2020-08-30T12:55:18.000000000', '2020-09-20T12:02:04.000000000',
       '2020-09-20T12:09:54.000000000', '2020-09-20T12:13:29.000000000',
       '2020-09-20T12:18:11.000000000', '2020-09-20T12:08:57.000000000',
       '2020-09-20T12:10:29.000000000', '2020-09-20T12:20:05.000000000',
       '2020-09-20T12:15:50.000000000', '2020-09-20T12:11:31.000000000',
       '2020-09-20T12:07:11.000000000', '2020-09-20T12:02:55.000000000',
       '2020-09-20T12:05:15.000000000', '2020-09-20T12:35:59.000000000',
       '2020-09-20T12:17:38.000000000', '2020-09-20T12:17:27.000000000',
       '2020-09-20T12:21:55.000000000', '2020-09-20T12:11:46.000000000',
       '2020-09-20T12:17:12.000000000', '2020-09-20T12:14:48.000000000',
       '2020-09-20T12:09:06.000000000', '2020-09-13T12:01:06.000000000',
       '2020-09-13T12:06:30.000000000', '2020-09-13T12:01:36.000000000',
       '2020-09-13T12:08:47.000000000', '2020-09-13T12:04:55.000000000',
       '2020-09-13T12:00:26.000000000', '2020-09-13T12:03:22.000000000',
       '2020-09-13T12:06:00.000000000', '2020-09-13T12:12:03.000000000',
       '2020-09-13T12:00:09.000000000', '2020-09-13T12:00:15.000000000',
       '2020-09-13T12:00:30.000000000', '2020-09-13T12:12:54.000000000',
       '2020-09-13T12:19:58.000000000', '2020-09-13T12:21:18.000000000',
       '2020-09-13T12:23:51.000000000', '2020-09-13T12:11:56.000000000',
       '2020-09-13T12:08:01.000000000', '2020-09-13T12:29:18.000000000',
       '2020-09-13T12:14:40.000000000', '2020-09-13T12:14:40.000000000',
       '2020-09-13T12:26:12.000000000', '2020-09-13T12:32:00.000000000',
       '2020-09-13T12:17:52.000000000', '2020-09-13T12:25:53.000000000',
       '2020-09-13T12:29:26.000000000', '2020-09-13T12:18:32.000000000',
       '2020-09-13T12:24:42.000000000', '2020-09-13T12:28:52.000000000',
       '2020-09-13T12:29:17.000000000', '2020-09-13T12:28:46.000000000',
       '2020-09-13T12:26:18.000000000', '2020-09-13T12:34:17.000000000',
       '2020-09-13T12:37:16.000000000', '2020-09-13T12:20:58.000000000',
       '2020-09-13T12:10:28.000000000', '2020-09-13T12:26:43.000000000',
       '2020-09-13T12:38:15.000000000', '2020-09-13T12:34:42.000000000',
       '2020-09-13T12:35:36.000000000', '2020-09-13T12:29:33.000000000',
       '2020-09-13T12:30:28.000000000', '2020-09-06T12:11:01.000000000',
       '2020-09-06T12:00:45.000000000', '2020-09-06T12:05:51.000000000',
       '2020-09-06T12:01:28.000000000', '2020-09-06T12:06:04.000000000',
       '2020-09-06T12:00:07.000000000', '2020-09-06T12:04:46.000000000',
       '2020-09-06T12:00:19.000000000', '2020-09-06T12:07:38.000000000',
       '2020-09-06T12:05:32.000000000', '2020-09-06T12:01:09.000000000',
       '2020-09-06T12:04:20.000000000', '2020-09-06T12:06:36.000000000',

In [105]:
val_오후_before = df[df['오후'].dt.hour == 0]['오후'].index

In [117]:
df.loc[val_오후_before, '오후'] = val_오후_after.values

In [126]:
df[df['오후'].dt.hour == 12]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,오전,오후
198366,6144,중형승합,2020-03-01 오전 11:22:00,2020-03-01 오전 11:32:35,2020-03-01 오후 12:12:15,강서구,가양제2동,중랑구,면목제4동,NaT,2020-03-01 12:12:15
198371,7930,중형승합,2020-03-01 오전 11:31:00,2020-03-01 오전 11:39:58,2020-03-01 오후 12:16:02,중구,회현동,은평구,응암제3동,NaT,2020-03-01 12:16:02
198374,1124,중형승합,2020-03-01 오전 11:37:00,2020-03-01 오전 11:46:42,2020-03-01 오후 12:04:06,강서구,방화제3동,강서구,가양제3동,NaT,2020-03-01 12:04:06
198378,9955,중형승합,2020-03-01 오전 11:43:00,2020-03-01 오전 11:46:29,2020-03-01 오후 12:00:38,양천구,신정3동,양천구,목1동,NaT,2020-03-01 12:00:38
198379,7648,중형승합,2020-03-01 오전 11:47:00,2020-03-01 오전 11:55:37,2020-03-01 오후 12:12:07,동대문구,신설동,성동구,마장동,NaT,2020-03-01 12:12:07
...,...,...,...,...,...,...,...,...,...,...,...
275854,8036,중형승합,2021-01-03 오후 12:40:00,2021-01-03 오후 12:41:45,2021-01-03 오후 12:58:43,중랑구,망우제3동,중랑구,신내2동,NaT,2021-01-03 12:58:43
275856,8260,중형승합,2021-01-03 오후 12:41:00,2021-01-03 오후 12:43:22,2021-01-03 오후 12:47:13,강남구,삼성1동,서대문구,북가좌제2동,NaT,2021-01-03 12:47:13
275858,8157,중형승합,2021-01-03 오후 12:42:00,2021-01-03 오후 12:51:36,2021-01-03 오후 12:57:51,송파구,잠실3동,송파구,잠실본동,NaT,2021-01-03 12:57:51
327847,809,중형승합,2021-08-08 오전 9:58:00,2021-08-08 오후 12:07:26,2021-08-08 오후 12:49:50,동작구,사당제1동,동작구,상도제2동,NaT,2021-08-08 12:49:50
346539,1571,중형승합,2021-10-03 오전 9:32:00,2021-10-03 오후 12:04:21,2021-10-03 오후 12:51:10,성북구,길음제1동,성북구,월곡제2동,NaT,2021-10-03 12:51:10

## 이제 df['오후']와 df['오전']을 합쳐보자

In [127]:
df['오후'][0] + df['오전'][0]
#누락값(NaT)와 값이 있는걸 더하면 NaT가 된다

NaT

In [128]:
datetime.timedelta(hours=0)

datetime.timedelta(0)

In [129]:
#df['오후']의 누락된 값에 0시간을 채워준다.
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))

In [130]:
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [131]:
df['오후'][0] + df['오전'][0]

Timestamp('2018-01-23 00:34:08')

In [132]:
승차_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        승차_val.append(val)
    except:
        승차_val.append(datetime.timedelta(hours=0))

In [133]:
df['승차시간'] = 승차_val

In [136]:
con = df['승차시간'] == datetime.timedelta(hours=0)
df[con]['승차시간'] = pd.to_datetime(df[con]['오전'])

In [138]:
sindx = df[con]['승차시간'].index

In [139]:
df.loc[sindx, '승차시간'] = pd.to_datetime(df[con]['오전'])

In [140]:
df[df['승차시간'] == datetime.timedelta(hours=0)]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 오전, 오후, 승차시간]
Index: []

In [141]:
df['승차시간'] = pd.to_datetime(df['승차시간'])

In [142]:
df = df.drop(['오전','오후'], axis = 1)

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407603 entries, 0 to 407612
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   no           407603 non-null  int64
 1   cartype      407603 non-null  object
 2   receipttime  407603 non-null  object
 3   settime      407573 non-null  object
 4   ridetime     407603 non-null  object
 5   startpos1    407603 non-null  object
 6   startpos2    407603 non-null  object
 7   endpos1      407603 non-null  object
 8   endpos2      407603 non-null  object
 9   승차시간         407603 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 50.3+ MB

In [149]:
df.loc[val_오후_before]

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간
198366,6144,중형승합,2020-03-01 오전 11:22:00,2020-03-01 오전 11:32:35,2020-03-01 오후 12:12:15,강서구,가양제2동,중랑구,면목제4동,2020-03-01 12:12:15
198371,7930,중형승합,2020-03-01 오전 11:31:00,2020-03-01 오전 11:39:58,2020-03-01 오후 12:16:02,중구,회현동,은평구,응암제3동,2020-03-01 12:16:02
198374,1124,중형승합,2020-03-01 오전 11:37:00,2020-03-01 오전 11:46:42,2020-03-01 오후 12:04:06,강서구,방화제3동,강서구,가양제3동,2020-03-01 12:04:06
198378,9955,중형승합,2020-03-01 오전 11:43:00,2020-03-01 오전 11:46:29,2020-03-01 오후 12:00:38,양천구,신정3동,양천구,목1동,2020-03-01 12:00:38
198379,7648,중형승합,2020-03-01 오전 11:47:00,2020-03-01 오전 11:55:37,2020-03-01 오후 12:12:07,동대문구,신설동,성동구,마장동,2020-03-01 12:12:07
...,...,...,...,...,...,...,...,...,...,...
275854,8036,중형승합,2021-01-03 오후 12:40:00,2021-01-03 오후 12:41:45,2021-01-03 오후 12:58:43,중랑구,망우제3동,중랑구,신내2동,2021-01-03 12:58:43
275856,8260,중형승합,2021-01-03 오후 12:41:00,2021-01-03 오후 12:43:22,2021-01-03 오후 12:47:13,강남구,삼성1동,서대문구,북가좌제2동,2021-01-03 12:47:13
275858,8157,중형승합,2021-01-03 오후 12:42:00,2021-01-03 오후 12:51:36,2021-01-03 오후 12:57:51,송파구,잠실3동,송파구,잠실본동,2021-01-03 12:57:51
327847,809,중형승합,2021-08-08 오전 9:58:00,2021-08-08 오후 12:07:26,2021-08-08 오후 12:49:50,동작구,사당제1동,동작구,상도제2동,2021-08-08 12:49:50
346539,1571,중형승합,2021-10-03 오전 9:32:00,2021-10-03 오후 12:04:21,2021-10-03 오후 12:51:10,성북구,길음제1동,성북구,월곡제2동,2021-10-03 12:51:10

In [150]:
df[~df['ridetime'].str.contains('오전') & ~df['ridetime'].str.contains('오후')]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 승차시간]
Index: []

### settime

In [62]:
df[df['settime'].isna()].head()
#왜 부르자마자 탄 차들이 있지..
#일단 따로 csv에 저장하고 dropna하도록 한다

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간
32664,1123,중형승합,2018-05-08 오전 5:30:00,NaN,2018-05-08 오전 5:30:00,도봉구,창제3동,성북구,안암동,2018-05-08 05:30:00
32671,1123,중형승합,2018-05-08 오전 5:31:00,NaN,2018-05-08 오전 5:31:00,중랑구,망우본동,중랑구,신내1동,2018-05-08 05:31:00
33560,7630,중형승합,2018-05-06 오전 8:10:00,NaN,2018-05-06 오전 8:10:00,강남구,수서동,강남구,일원1동,2018-05-06 08:10:00
44798,7606,중형승합,2018-06-03 오전 8:03:00,NaN,2018-06-03 오전 8:03:00,강서구,가양제2동,강서구,가양제1동,2018-06-03 08:03:00
51607,7908,중형승합,2018-07-29 오전 7:00:00,NaN,2018-07-29 오전 7:00:00,강서구,가양제2동,양천구,목2동,2018-07-29 07:00:00

In [460]:
df_set_na = df[df['settime'].isna()]
df_set_na.to_csv('df_set_na.csv', index = False, encoding = 'utf-8')

In [152]:
snax = df[df['settime'].isna()].index

In [153]:
df = df.drop(snax)

In [163]:
df['오전'] = pd.to_datetime(df[df['settime'].str.contains('오전')]['settime'].str.replace('오전', ''))
df['오후'] = pd.to_datetime(df[df['settime'].str.contains('오후')]['settime'].str.replace('오후', '')) + datetime.timedelta(hours = 12)

In [165]:
val_after = df[df['오전'].dt.hour == 12]['오전'] - datetime.timedelta(hours = 12)
val_before = df[df['오전'].dt.hour == 12]['오전']
df.loc[val_before.index, '오전'] = val_after.values

In [166]:
val_오후_after = df[df['오후'].dt.hour == 0]['오후'] - datetime.timedelta(hours = 12)
val_오후_before = df[df['오후'].dt.hour == 0]['오후'].index
df.loc[val_오후_before, '오후'] = val_오후_after.values

In [167]:
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [168]:
승차_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        승차_val.append(val)
    except:
        승차_val.append(datetime.timedelta(hours=0))

In [169]:
df['배차시간'] = 승차_val

In [170]:
df[df['배차시간'] == datetime.timedelta(hours=0)].head(2)

,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간,오전,오후,배차시간
32665,4347,중형승용,2018-05-08 오전 5:30:00,2018-05-08 오전 6:48:10,2018-05-08 오전 6:56:55,강서구,화곡제3동,고양시일산서구,탄현동,2018-05-08 06:56:55,2018-05-08 06:48:10,0:00:00,0:00:00
32673,6194,중형승합,2018-05-08 오전 5:33:00,2018-05-08 오전 7:04:45,2018-05-08 오전 7:24:58,강서구,가양제3동,동작구,흑석동,2018-05-08 07:24:58,2018-05-08 07:04:45,0:00:00,0:00:00

In [172]:
con = df['배차시간'] == datetime.timedelta(hours=0)

In [173]:
binx = df[con]['배차시간'].index

In [174]:
df.loc[binx, '배차시간'] = pd.to_datetime(df[con]['오전'])

In [175]:
df['배차시간'] =pd.to_datetime(df['배차시간'])

In [179]:
df = df.drop(['오전', '오후'], axis=1)

### receipttime

In [181]:
df[df['receipttime'].isna()]

Empty DataFrame
Columns: [no, cartype, receipttime, settime, ridetime, startpos1, startpos2, endpos1, endpos2, 승차시간, 배차시간]
Index: []

In [199]:
df['오전'] = pd.to_datetime(df[df['receipttime'].str.contains('오전')]['receipttime'].str.replace('오전', ''))

In [200]:
df['오후'] = pd.to_datetime(df[df['receipttime'].str.contains('오후')]['receipttime'].str.replace('오후', '')) + datetime.timedelta(hours = 12)

In [202]:
val_after = df[df['오전'].dt.hour == 12]['오전'] - datetime.timedelta(hours = 12)
val_before = df[df['오전'].dt.hour == 12]['오전']
df.loc[val_before.index, '오전'] = val_after.values

In [203]:
val_오후_after = df[df['오후'].dt.hour == 0]['오후'] - datetime.timedelta(hours = 12)
val_오후_before = df[df['오후'].dt.hour == 0]['오후'].index
df.loc[val_오후_before, '오후'] = val_오후_after.values

In [204]:
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

In [206]:
요청_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        요청_val.append(val)
    except:
        요청_val.append(datetime.timedelta(hours=0))

In [207]:
df['예정시간'] = 요청_val

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407573 entries, 0 to 407612
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   no           407573 non-null  int64
 1   cartype      407573 non-null  object
 2   receipttime  407573 non-null  object
 3   settime      407573 non-null  object
 4   ridetime     407573 non-null  object
 5   startpos1    407573 non-null  object
 6   startpos2    407573 non-null  object
 7   endpos1      407573 non-null  object
 8   endpos2      407573 non-null  object
 9   승차시간         407573 non-null  datetime64[ns]
 10  배차시간         407573 non-null  datetime64[ns]
 11  오전           407573 non-null  object
 12  오후           407573 non-null  object
 13  예정시간         407573 non-null  object
dtypes: datetime64[ns](2), int64(1), object(11)
memory usage: 62.8+ MB

In [209]:
df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime']

3486                 2018-01-16
3487                 2018-01-16
8466                 2018-02-09
8467                 2018-02-09
8468                 2018-02-09
                  ...
400563    2022-05-31 오전 7:00:00
402173    2022-06-03 오전 5:50:00
402174    2022-06-03 오전 5:50:00
404970    2022-06-06 오전 7:10:00
406703    2022-06-25 오전 7:00:00
Name: receipttime, Length: 199, dtype: object

In [210]:
con = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오전')

In [211]:
con1 = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오후')

In [212]:
con1[con1 == True]

Series([], Name: receipttime, dtype: bool)

In [213]:
einx = con[con == True].index

In [214]:
df.loc[einx, '예정시간'] = df.loc[einx, '오전']

In [215]:
df.loc[einx, '예정시간']

32665     2018-05-08 05:30:00
32673     2018-05-08 05:33:00
33563     2018-05-06 08:11:00
37104     2018-05-16 00:20:00
42582     2018-06-05 00:25:00
                 ...
400563    2022-05-31 07:00:00
402173    2022-06-03 05:50:00
402174    2022-06-03 05:50:00
404970    2022-06-06 07:10:00
406703    2022-06-25 07:00:00
Name: 예정시간, Length: 179, dtype: object

In [216]:
df_re_date = df[df['예정시간'] == datetime.timedelta(hours=0)]

In [217]:
df_re_date.to_csv('df_re_date.csv', index = False, encoding = 'utf-8')

In [218]:
dinx = df[df['예정시간'] == datetime.timedelta(hours=0)].index

In [219]:
df = df.drop(dinx)

In [220]:
df = df.drop(['오전', '오후'], axis=1)

In [223]:
df = df[['no', 'cartype', '예정시간', '배차시간', '승차시간', 'startpos1', 'startpos2', 'endpos1', 'endpos2']]

In [224]:
df['예정시간'] = pd.to_datetime(df['예정시간'])

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407553 entries, 0 to 407612
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   no         407553 non-null  int64
 1   cartype    407553 non-null  object
 2   예정시간       407553 non-null  datetime64[ns]
 3   배차시간       407553 non-null  datetime64[ns]
 4   승차시간       407553 non-null  datetime64[ns]
 5   startpos1  407553 non-null  object
 6   startpos2  407553 non-null  object
 7   endpos1    407553 non-null  object
 8   endpos2    407553 non-null  object
dtypes: datetime64[ns](3), int64(1), object(5)
memory usage: 31.1+ MB

## 인덱스 재정렬

In [226]:
df = df.sort_index(ascending= True)

In [227]:
df = df.reset_index(drop=True)

In [229]:
df.to_csv('master_cleansing_before_diff.csv', index = False, encoding = 'utf-8')

# 출발지, 목적지 워딩 정리하기

In [234]:
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 00:30:00,2018-01-23 00:17:06,2018-01-23 00:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동

In [235]:
df['startpos1'][5]

'마포구'

In [236]:
df['endpos1'][5]

'부천시소사구'

In [237]:
df['endpos2'][5]

'심곡본1동'

In [240]:
lengths = []
lengthe = []
for i in range(len(df)):
    vals= len(df['startpos1'][i])
    vale= len(df['endpos1'][i])
    lengths.append(vals)
    lengthe.append(vale)

In [241]:
df['startpos1_length'] = lengths
df['endpos1_length'] = lengthe

In [242]:
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,startpos1_length,endpos1_length
0,7658,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,3,4
1,1551,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,3,3
2,5804,중형승합,2018-01-23 00:30:00,2018-01-23 00:17:06,2018-01-23 00:17:39,성북구,정릉제3동,강북구,수유제3동,3,3
3,7650,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,3,3
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,4,3

In [243]:
df['startpos1_length'].value_counts().sort_index()

2      6661
3    357229
4     43470
6       168
7        25
Name: startpos1_length, dtype: int64

In [244]:
df[df['startpos1_length'] == 2]['startpos1'].value_counts()

중구    6661
Name: startpos1, dtype: int64

In [245]:
df[df['startpos1_length'] == 4]['startpos1'].value_counts()

서대문구    18467
동대문구    12578
영등포구    12344
남양주시       47
의정부시       34
Name: startpos1, dtype: int64

In [246]:
df[df['startpos1_length'] == 6]['startpos1'].value_counts()

성남시수정구    36
부천시소사구    35
고양시덕양구    23
부천시원미구    18
성남시분당구    15
성남시중원구    13
안양시만안구    13
부천시오정구     8
안양시동안구     6
용인시수지구     1
Name: startpos1, dtype: int64

In [247]:
df[df['startpos1_length'] == 7]['startpos1'].value_counts()

고양시일산동구    17
고양시일산서구     8
Name: startpos1, dtype: int64

In [248]:
t = '고양시일산동구'
t[3:]

'일산동구'

In [249]:
for i in range(len(df)):
    if df['startpos1_length'][i] == 6 :
        df['startpos1'][i] = df['startpos1'][i][3:]
    elif df['startpos1_length'][i] == 7 :
        df['startpos1'][i] = df['startpos1'][i][3:]
    else:
        pass

In [251]:
df = df.drop('startpos1_length', axis=1)

In [252]:
df['endpos1_length'].value_counts().sort_index()

2     12180
3    314008
4     68048
6     11631
7      1686
Name: endpos1_length, dtype: int64

In [253]:
df[df['endpos1_length'] == 7]['endpos1'].value_counts()

고양시일산동구    973
고양시일산서구    713
Name: endpos1, dtype: int64

In [254]:
for i in range(len(df)):
    if df['endpos1_length'][i] == 6 :
        df['endpos1'][i] = df['endpos1'][i][3:]
    elif df['endpos1_length'][i] == 7 :
        df['endpos1'][i] = df['endpos1'][i][3:]
    else:
        pass

In [255]:
df = df.drop('endpos1_length', axis = 1)

In [256]:
df.to_csv('master_cleansing.csv', index = False, encoding = 'utf-8')