In [2]:
import glob
import pandas as pd
import seaborn as sns
import numpy as np

In [5]:
df = pd.read_csv('master_final_220708.csv')

In [11]:
df.head(1)

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,direction,start_lat,...,end_lng,distance,duration,taxiFare,y_b_time,b_s_time,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,장위제1동회기동,127.043713,...,37.590808,4289,648.464,5600,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08,882,926,1808

In [12]:
df['예정시간']= pd.to_datetime(df['예정시간'])
df['배차시간']= pd.to_datetime(df['배차시간'])
df['승차시간']= pd.to_datetime(df['승차시간'])

In [18]:
df['예정시간_년'] = df['예정시간'].dt.year
df['예정시간_월'] = df['예정시간'].dt.month

In [44]:
df['예정시간_년월'] = df['예정시간'].dt.strftime('%Y%m')

In [45]:
df.head()

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,direction,start_lat,...,taxiFare,y_b_time,b_s_time,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds,예정시간_년,예정시간_월,예정시간_년월
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,장위제1동회기동,127.043713,...,5600,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08,882,926,1808,2018,1,201801
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,면목제7동상계1동,127.086985,...,13700,0 days 00:33:37,0 days 00:28:45,0 days 01:02:22,2017,1725,3742,2018,1,201801
2,중형승합,2018-01-23 00:17:06,2018-01-23 00:17:39,2018-01-23 00:30:00,성북구,정릉제3동,강북구,수유제3동,정릉제3동수유제3동,127.004186,...,6200,0 days 00:00:33,0 days 00:12:21,0 days 00:12:54,33,741,774,2018,1,201801
3,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,고척제2동은천동,126.858712,...,11000,0 days 00:04:19,0 days 00:18:14,0 days 00:22:33,259,1094,1353,2018,1,201801
4,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,회기동장위제2동,127.055313,...,5200,0 days 00:36:17,0 days 00:22:36,0 days 00:58:53,2177,1356,3533,2018,1,201801

In [48]:
df.groupby(['startpos1', '예정시간_년월'])['startpos1'].count().to_csv('지역별원별수요량추이.csv', index= True, encoding= 'utf-8')

In [51]:
dff = pd.read_csv('master_final_220708_택시요금추가.csv')

In [56]:
df['taxiFare_I'] = dff['taxiFare_I'].values

In [64]:
df.groupby(['startpos1', '예정시간_년월'])['taxiFare_I'].sum().to_csv('지역별원별수익량추이.csv', index= True, encoding= 'utf-8')

In [60]:
df.groupby(['startpos1', '예정시간_년월'])['taxiFare_I'].mean()

startpos1  예정시간_년월
강남구        201801     15552.763819
           201802     16274.153846
           201803     15948.245614
           201804     15562.025316
           201805     17197.289157
                          ...
하남시        202103     12100.000000
           202105      9850.000000
           202109     23300.000000
           202203     36900.000000
           202205     86200.000000
Name: taxiFare_I, Length: 1641, dtype: float64

In [66]:
df.groupby('예정시간_년월')['taxiFare_I'].sum().to_csv('총수익추이.csv', index= True, encoding= 'utf-8')